@charset "utf-8";

/************************************************************************
 * 파일명      : base.css
 * 설명        : 기본_공통
 * 작성자      : 박수림
 * 작성일      : 2014.07.23
************************************************************************/

/* 기본  */
* {margin:0; padding:0;}
html {height:100%;}
/*body {height:100%; line-height:140%; font-size:0.75em;  font-family:"Nanum", NanumGothic, "NanumB", NanumGothicBold, "dotum", 돋음, sans-serif;}*/
body {height:100%; line-height:140%; font-size:0.75em;  font-family:"dotum", 돋음, sans-serif;}
/*pre, div, ul, ol, dl, p, td, th, input, textarea, select {font-family:"Nanum", NanumGothic, "NanumB", NanumGothicBold, "dotum", 돋음, sans-serif; font-size:12px;}*/
pre, div, ul, ol, dl, p, td, th, input, textarea, select {font-family:"dotum", 돋음, sans-serif; font-size:12px;}
/*table {border-collapse:collapse; border-spacing:0; width:100%;}*/
table {border-collapse:collapse; border-spacing:0;}
img, fieldset {border:0 none; vertical-align:middle;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
ul, ol, li, dl, dt, dd {list-style:none; margin:0; padding:0;} /* 블릿감춤 */


/* Link */
a {text-decoration:none; color:#000;}
a:hover, a:active, a:focus {text-decoration:none; color:#000;}

/*input,select,option {font-size:12px; height:23px; font-family: "dotum", 돋음, sans-serif; color:#000; vertical-align:middle;}*/
input,select,option {font-size:12px; height:20px; font-family: "dotum", 돋음, sans-serif; color:#000; vertical-align:middle;}


/* form */
select,input {vertical-align:middle; word-break: break-all;}
/*
input.text { height:23px; border:1px solid #e0e0e0; line-height:20px;}
input.disable {height:23px; border:1px solid #e0e0e0; background:#f8f8f8; line-height:20px;}
textarea.textarea {"dotum", 돋음, sans-serif; border:1px solid #ccc; padding:5px; font-size:1em; color:#777; line-height:130%;  width:150px; height:120px;}
select {padding:1px; border:#ccc 1px solid;}
*/
input.text { height:20px; border:1px solid #afafaf; line-height:20px;}
input.disable {height:20px; border:1px solid #afafaf; background:#f8f8f8; line-height:20px;}
textarea.textarea {"dotum", 돋음, sans-serif; border:1px solid #afafaf; padding:5px; font-size:1em; color:#777; line-height:130%;  width:150px; height:120px;}
select {padding:1px; border:#afafaf 1px solid;}
caption {display:none;}


/* align */
.vt {vertical-align:top;}
.vb {vertical-align:bottom;}
.vm {vertical-align:middle;}


/* 폰트 스타일 */
.f_11px {font-size:11px;} /* 0731추가 */
.bold {font-weight:bold;}
.red {color:#e64b47;}
.blue {color:#1d6ce3; font-weight:bold;} /* 0731추가 */


/* 간격 padding & margin*/
.pd_l5 {padding-left:5px;}


/* NanumGothic */
@font-face {font-family:"Nanum"; font-style:normal; font-weight:400; src:url(font/NanumGothic.eot); src:local(※), url(font/NanumGothic.woff) format('woff');}
@font-face{font-family:"NanumB"; font-style:normal; font-weight:400; src:url(font/NanumGothicBold.eot); src:local(※), url(font/NanumGothicBold.woff) format('woff');}


