<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link type="text/css" rel="stylesheet" href="../../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/font-awesome/css/font-awesome.css"
          th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/multiselect/css/multi-select.css"
          th:href="@{/multiselect/css/multi-select.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/css/bootstrap-datetimepicker.css"
          th:href="@{/css/bootstrap-datetimepicker.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/sbgrid/sbGrid/js/kr/co/softbowl/css/Sbgrid_default.css" th:href="@{/sbgrid/sbGrid/js/kr/co/softbowl/css/Sbgrid_default.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

	    body,div,a,ul,li,img,h1,h2,h3,h4,p,address,span,dl,dt,dd,form,
	    fieldset,legend,label,input,table,tr,td,thead,tbody,caption,colgroup{
	        padding:0; 
	        margin:0;
	    }
	    
	    header,footer,section,aside,article,time,nav,figure,figcaption,video{
	        display:block;
	    }
	    
	    body,
	    input{
	        font-size:12px; 
	        color:#333;
	        font-family:Malgun Gothic,dotum, Arial, Helvetica, sans-serif;
	    }
	    
	    .defaultPopup{
	        border:1px solid #c3c3c3;
	        margin:0 auto;
	        padding:0px 15px 0px 15px;
	        vertical-align:middle;
	        background:#FFFFFF;
	    }

        .apAddBtnBox {
            text-align:left;
            margin-bottom:15px;
        }

        .bottomBtnBox {
            text-align:right;
            margin-top:5px;margin-bottom:15px;
        }
        
        ._addTable th{
            font-weight: normal;
            width: 100px;
        }
        
         ._addTable td{
            width: 260px;
        }
        
        .deleteAptApBtn {
            background-color:white;
            border:0px;
            font-weight:bold;
            width:15px;
        }

    </style>

    <title>출입문 AP 등록 관리</title>
</head>

<body>

    <div class="defaultPopup">
	    <h4 class="page-header">출입문 AP 출입 기기</h4>
	
	    <div role="tabpanel">
	        <ul class="nav nav-tabs" role="tablist" id="myTab" style="margin-bottom: 20px;border-bottom: 1px solid #e5e5e5;">
	            <li role="presentation" class="active"><a href="#single-add" aria-controls="single-add" role="tab" data-toggle="tab" onclick="selectedTab(1)">개별 등록</a></li>
	            <li role="presentation"><a href="#batch-add" aria-controls="batch-add" role="tab" data-toggle="tab" onclick="selectedTab(2)">일괄 등록</a></li>
	        </ul>
	
	        <div class="tab-content">
	        
	            <div role="tabpanel" class="tab-pane active" id="single-add">
	            <form name="frm" id="frm" method="post">
					<table class="table table-responsive _addTable">
					    <tr>
						    <th>TYPE</th>
						    <td class="form-inline">
						        <select name="type" id="type" class="form-control" style="width:200px;">
                                    <option value="" >선택</option>
                                    <option th:each="item : ${apAccessDeviceTypeList}" th:value="${item.code}" th:text="${item.name}" ></option>
                                </select>
						    </td>
						</tr>
					    <tr>
	                        <th>Access Key</th>
	                        <td class="form-inline">
	                            <input type="text" class="form-control" id="accessKey" name="accessKey" maxlength="50" style="width:400px;" />
	                        </td>
	                    </tr>
	                    <tr>
	                        <th>소유자</th>
	                        <td class="form-inline" >
	                            <input type="text" class="form-control" id="userNm" name="userNm" maxlength="250" style="width:250px;" readonly="readonly" />
	                            <input type="hidden" name="userId" id="userId" />
	                            <input type="button" class="btn btn-sm btn-warning" id="selectUserBtn" value="유저선택" name="selectUserBtn" />
	                        </td>
	                    </tr>
	                    <tr>
                            <th>사용자</th>
                            <td class="form-inline" >
                                <input type="text" class="form-control" id="secondUser" name="secondUser" maxlength="250" style="width:250px;" />
                            </td>
                        </tr>
	                    <tr>
	                        <th>아파트 출입문 AP</th>
	                        <td class="form-inline">
	                            <input type="button" class="btn btn-sm btn-warning" id="selectAptBtn" value="AP 선택" name="selectAptBtn" onclick=""/>
	                            <input type="button" class="btn btn-sm btn-warning" id="saveDetailBtn" value="선택한 목록보기" name="saveDetailBtn" onclick="fnAptApListView()"/>
	                            <div id="aptApIdArea" style="display:none;">
	                            </div>
	                        </td>
	                    </tr>
                        <tr>
                            <th>메모</th>
                            <td class="form-inline" >
                                <textarea style="width:100%" name="memo" id="memo" rows="5"></textarea>
                            </td>
                        </tr>
	                </table>
	            </form>
	            </div>
	            
	            <div role="tabpanel" class="tab-pane" id="batch-add">
	             <form name="fileFrm" id="fileFrm" enctype="multipart/form-data" method="post">
	             <table class="table table-responsive">
	                    <tr>
	                        <td>
	                            <input type="text" class="form-control" id="fileTextbox" name="fileTextbox" style="float:left;width:300px;" readonly="readonly" />
	                      <div style="position:relative;width:80px;height:29px;display:inline-block;margin-left:5px;">
	                          <input type="button" class="btn btn-success" value="파일찾기" style="width:90px;position:absolute;top:0px;left:5px;"/>
	                          <input type="file" name="csvFile" class="form-control" id="csvFile" onchange="javascript:document.getElementById('fileTextbox').value=this.value" style="width:70px;left:5px; position:absolute;right:0px;top:0px;opacity:0;  .filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)'; -khtml-opactiy:0; -moz-opacity:0;"/>
	                      </div>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            csv 파일을 통해 출입문 AP 출입 기기를 일괄 등록이 가능합니다.<br />
	                            양식 다운로드 : <a href="/admin/apt/ap/access/device/sampleCsvFileDown" >sample.csv</a>
	                        </td>
	                    </tr>
	                </table>
	                </form>
	            </div>
	            
	        </div>
	        
	    </div>
	    <div class="bottomBtnBox">
	        <input type="button" class="btn btn-info sc_asSignup" id="sc_asSignup" value="저장" name="sc_asSignup" onclick="save()"/>
	        <input type="button" class="btn btn-info sc_asSignup" id="cancelBtn" value="취소" name="cancelBtn" onclick="closePopup()"/>
	    </div>
    </div>

<form name="frm" id="frm" method="post"></form>

<script src="../../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../../static/js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
<script src="../../../static/js/common.js" th:src="@{/js/common.js}"></script>

<script src="../../static/sbgrid/js/XRegExp.js" type="text/javascript" th:src="@{/sbgrid/js/XRegExp.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function(){
    	var _save = /*[[${csvFileSave}]]*/ '-1';
        if(_save == "1"){
        	saveMessage();
        } else if(_save == "0"){
        	alert("저장된 항목이 없습니다.");
        }
        
        $("#accessKey").keyup(function(event){
            $(this).val($(this).val().replace(/[ㄱ-힣]/gi,''));//한글만 입력불가
        });
        
        $("#selectUserBtn").on("click", function(){
        	var width = 700;
            var height = 530;
            var left = (screen.width-width)/2;
            var top = (screen.height-height)/2;
            var url = "/admin/user/search/default-popup?callback=_callback";
            window.open(url,url,"width="+width+", height="+height+", left="+left+", top="+top+", toolbar=no, location=no, status=no, menubar=no, scrollbars=no, resizable=no");
        });
        
        $("#selectAptBtn").on("click", function(){
            var width = 800;
            var height = 590;
            var left = (screen.width-width)/2;
            var top = (screen.height-height)/2;
            var url = "/admin/apt/ap/search/popup?callback=_aptCallBack";
            window.open(url,url,"width="+width+", height="+height+", left="+left+", top="+top+", toolbar=no, location=no, status=no, menubar=no, scrollbars=no, resizable=no");
        });
        
    });
    
    function _callback(user){
    	if(!gfnIsEmpty(user)){
    		$("#userNm").val(user.fullName);
            $("#userId").val(user.id);
    	}
    }
    
    function _aptCallBack(arrAptAp){
    	if(!gfnIsEmpty(arrAptAp)){
    		for(var i=0;i<arrAptAp.length;i++){
                var rowData = arrAptAp[i];
                if(!gfnIsEmpty(rowData)){
                	if($("input[name=aptApId][value="+rowData.id+"]").length == 0){
                        $('<p>'+rowData.apName+' ['+rowData.apBeaconUuid+']<input type="hidden" name="aptApId" value="'+rowData.id+'" /><input type="button" name="deleteAptApBtn" class="deleteAptApBtn" onclick="fnDeleteAptApId(this)" value="X" /></p>').appendTo("#aptApIdArea");
                	}
                }
            }
    	}
    }
    
    function fnDeleteAptApId(obj){
    	if(confirm("목록에서 제거 하시겠습니까?")){
            $(obj).parent().remove();
        }
    }
    
    function fnAptApListView(){
    	if($("#aptApIdArea").css("display") == "none"){
    		$("#aptApIdArea").show();
    	} else {
    		$("#aptApIdArea").hide();
    	}
    }
    
    function validationForm(){
    	
    	if($("#type").val() == ""){
            alert("TYPE을 선택해주세요.");
            $("#type").focus();
            return false;
        } else if($("#accessKey").val() == ""){
            alert("Access Key를 입력해주세요.");
            $("#accessKey").focus();
            return false;
        } else if($("#userId").val() == "" ){
        	//&& $("input[name=aptApId]").length == 0
            alert("소유자를 입력해주세요.");
            return false;
        }
    	
    	return true;
    	
    }
    
    function closePopup(){
    	self.close();
    }
    
    var tabIdx = 1;
    function selectedTab(idx){
    	tabIdx = idx;
    }
    
    function save(){
    	
    	if(tabIdx == 1 && validationForm() == false){
            return;
        }
    	
    	if(confirm("저장하시겠습니까?")){
    		
    		if(tabIdx == 1){
    			
    			var aptApId = [];
    			$("input[name=aptApId]").each(function(){
    				aptApId.push($(this).val());
    			});
    			
    			$.ajax({
                    url: '/admin/apt/ap/access/device/save',
                    type: 'post',
                    async : false,
                    dataType: "html",
                    traditional: true , // parameter 직렬화를 느슨하게 처리.
                    data : {
                    	"type" : $("#type").val(),
                    	"accessKey" : $("#accessKey").val(),
                    	"userId" : $("#userId").val(),
                    	"secondUser" : $("#secondUser").val(),
                    	"memo" : $("#memo").val(),
                    	"aptApId" : aptApId
                    },
                    success: function(data) {
                        if(data > 0){
                        	saveMessage();
                        } else {
                        	//accessKey 중복체크 리턴
                        	if(data == -1){
                        		alert("중복된 accessKey 입니다.");
                        	}
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("error : save ajax fail !! ");
                    }
                }); 
            } else if(tabIdx == 2) {
            	
            	if($("#csvFile").val() != ""){
            		var lastIdx = $("#csvFile").val().lastIndexOf("."); 
            		var ext = $("#csvFile").val().substring(lastIdx+1);
            		if(ext == "csv"){
            			$("#fileFrm").prop("action", "/admin/apt/ap/access/device/save-csv");
                        $("#fileFrm").submit();            			
            		} else {
            			alert("csv파일만 등록가능합니다.\n양식을 다운로드하여 진행해주세요.");
            		}
            	}
            	
            }
            
        }
    }
    
    function saveMessage(){
        alert("저장되었습니다.");
        try{ opener.SBGrid_pagingInit(); }catch(e){}
        closePopup();
    }
      
    /*]]>*/
</script>

</body>
</html>
