<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link type="text/css" rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css" th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" th:href="@{/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/datatables-responsive/css/dataTables.responsive.css" th:href="@{/datatables-responsive/css/dataTables.responsive.css}"/>

    <style>
        label {
            margin-top: 20px;
            margin-left: 5px;
            margin-right: 5px;
        }

        #page-wrapper .btn {
            margin-top: 10px;
        }

        .file_input label {
            margin-top: 0;
        }
    </style>

    <script src="../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>JAHA-Admin</title>
</head>

<body>

<div id="wrapper">                <!-- /#wrapper -->

    <div th:replace="admin/admin :: top-nav"></div>

    <div th:replace="admin/admin :: vert-nav-admin"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 20px">
                <h1 class="page-header">아파트 정보 입력</h1>

                <div id="content-container">
                    <div class="panel panel-info">
                        <div class="panel-heading">기본정보 입력</div>
                        <form id="basicInfoForm" name="basicInfoForm" action="/admin/apt/info/update/basic" method="POST">
                            <div class="panel-body">
                                <label class="control-label" style="margin-top: 0">인사말</label>
                            	<textarea class="form-control" name="introduce" rows="5" style="resize: none;"
                                      th:text="${aptInfo == null ? '' : aptInfo.introduce}" th:maxlength="1000"></textarea>
                                <label class="control-label">관리소 전화번호 (예 : 02-000-0000)</label>
                                <input class="form-control" name="aptOfficePhoneNumber" id="aptOfficePhoneNumber"
                                	   placeholder="예)02-000-0000"
                                       th:value="${aptInfo == null ? '' : aptInfo.aptOfficePhoneNumber}" th:maxlength="50"/>
                                <label class="control-label">관리소 팩스번호 (예 : 02-000-0000)</label>
                                <input class="form-control" name="aptOfficeFaxNumber" id="aptOfficeFaxNumber"
                                       placeholder="예)02-000-0000"
                                       th:value="${aptInfo == null ? '' : aptInfo.aptOfficeFaxNumber}" th:maxlength="50"/>
                                <label class="control-label">지하철로 우리 아파트에 오는 방법</label>
                            	<textarea name="trafficInfo" rows="5" style="resize: none;" class="form-control"
                                      placeholder="예)1. 지하철 0호선을 타시고 ㅇㅇㅇ역 하차 후, 0번 출구로 나오십시오. 2. ㅇㅇㅇ 방면으로..."
                                      th:text="${aptInfo == null ? '' : aptInfo.trafficInfo}" th:maxlength="500"></textarea>
                                <label class="control-label">우리 아파트로 오는 버스 번호</label>
                            	<textarea name="trafficBusInfo" rows="3" style="resize: none;" class="form-control"
                                      placeholder="예) 마을버스 구로09, 영등포03,..."
                                      th:text="${aptInfo == null ? '' : aptInfo.trafficBusInfo}" th:maxlength="500"></textarea>

								<label class="control-label">입주자대표회의 현황/인사말</label>
                            	<textarea name="greetingOccupant" rows="3" style="resize: none;" class="form-control"
                                      placeholder="예) 입주자 대표회의 현황..."
                                      th:text="${aptInfo == null ? '' : aptInfo.greetingOccupant}" th:maxlength="500"></textarea>

								<label class="control-label">관리소 현황/인사말</label>
                            	<textarea name="greetingOffice" rows="3" style="resize: none;" class="form-control"
                                      placeholder="예) 관리소 현황..."
                                      th:text="${aptInfo == null ? '' : aptInfo.greetingOffice}" th:maxlength="500"></textarea>

								<label class="control-label">노인회 현황/인사말</label>
                            	<textarea name="greetingSenior" rows="3" style="resize: none;" class="form-control"
                                      placeholder="예) 노인회 현황..."
                                      th:text="${aptInfo == null ? '' : aptInfo.greetingSenior}" th:maxlength="500"></textarea>
								<label class="control-label">주소 (변경이 필요할 경우 입력, 입력하지 않으면 기본 주소가 표시됩니다.)
								</label>
                                <input class="form-control" name="displayAddress"
                                       th:value="${aptInfo == null ? '' : aptInfo.displayAddress}" th:maxlength="50"/>
								<br />
                                <label class="control-label">네이버 TTS Client ID</label>
								<input type="text" name="naverClientId" size="30" th:value="${aptInfo == null ? '' : aptInfo.naverClientId}" />
								<br />
                                <label class="control-label">네이버 TTS Clilent Secret</label>
                                <input type="text" name="naverClientSecret" size="20" th:value="${aptInfo == null ? '' : aptInfo.naverClientSecret}" />
								<br />
								<br />
                                <button class="btn btn-success" type="button" onclick="submitBasicInfo();">입력완료</button>
                            </div>
                        </form>
                    </div>
						           <div class="panel panel-info">
                        <div class="panel-heading">관리업체 연락처 입력</div>
                        <div class="panel-body">
                            <form action="/admin/apt/mgt/update/corp" method="POST">
                                <span th:if="${aptInfo != null}">
                                	<div class="form-inline" >
                                        <label>업체명</label>
                                        <input th:if="${aptMgtCorp == null}" name="mgtName" class="form-control" size="40" placeholder="예)관리업체" />
                                        <input th:if="${aptMgtCorp != null}" name="mgtName" class="form-control" size="40" placeholder="예)관리업체" th:value = "${aptMgtCorp.name}" />
                                        <label>전화번호</label>
                                        <input th:if="${aptMgtCorp == null}" name="mgtTel" class="form-control" size="40" placeholder="예)02-000-0000" />
                                        <input th:if="${aptMgtCorp != null}" name="mgtTel" class="form-control" size="40" placeholder="예)02-000-0000" th:value = "${aptMgtCorp.tel}" />
                                    </div>
                                </span>
                                <button class="btn btn-success" type="button" onclick="alert('업체가 등록되었습니다.');submit(this)" >관리업체 연락처 입력완료</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">관리사무소 연락처 입력</div>
                        <div class="panel-body">
                            <form action="/admin/apt/info/update/contacts" method="POST">
                                <span th:if="${aptInfo != null}">
                                    <div class="form-inline" th:each="contacts:${aptInfo.contacts}">
                                        <label>명칭</label>
                                        <input name="contactName" class="form-control" size="40"
                                               placeholder="예)관리사무소"
                                               th:value="${contacts.name}"/>
                                        <label>전화번호</label>
                                        <input name="contactPhoneNumber" class="form-control" size="40"
                                               placeholder="예)02-000-0000"
                                               th:value="${contacts.phoneNumber}"/>
                                    </div>
                                </span>

                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)관리사무소"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)관리사무소(팩스)"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)구로구청"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)지구대"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)ㅇㅇ동사무소"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)도시가스"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)승강기유지관리업체"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)ㅇㅇㅇ보일러 A/S"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)ㅇㅇ 케이블방송"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>
                                <div class="form-inline">
                                    <label>명칭</label>
                                    <input name="contactName" class="form-control" size="40"
                                                            placeholder="예)구로구청 공동주택 지원과"/>
                                    <label>전화번호</label>
                                    <input name="contactPhoneNumber" class="form-control" size="40"
                                                              placeholder="예)02-000-0000"/>
                                </div>


                                <button class="btn btn-success" type="button" onclick="alert('관리사무소 연락처 입력이 완료되었습니다.');submit(this)">관리사무소 연락처 입력완료</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            아파트 로고/ 사진 올리기
                        </div>
                        <div class="panel-body">
                            <p>홈페이지 메인 화면에 들어갈 로고와 사진입니다.</p>
                            <p><strong>아파트 로고</strong> : 가로 190px 세로 50px 크기의 사진을 올려주세요.</p>
                            <form enctype="multipart/form-data" method="post" action="/admin/apt/info/update/logo">

                                <p th:if="${aptInfo==null} or ${aptInfo.urlLogo==null}">현재 등록된 이미지가 없습니다. 새로 등록해주세요.</p>
                                <span th:if="${aptInfo} and ${aptInfo.urlLogo}">
                                <img th:src="${aptInfo.urlLogo}"/>
                                <p>현재 등록된 이미지입니다. 변경하시려면 사진을 선택하고 등록 버튼을 눌러주세요.</p>
                                </span>

                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="file_input">
                                                    <label>
                                                        사진 선택
                                                        <input type="file"
                                                               onchange="javascript:document.getElementById('file_route1').value=this.value" name="file"/>
                                                    </label>
                                                    <input type="text" readonly="readonly" title="File Route" id="file_route1"/>
                                                </div>
                                                <input type="hidden" name="aptId" th:value="${user.house.apt.id}"/>
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-success" type="button" onclick="alert('로고가 등록되었습니다.');submit(this)" style="margin-top: -4px; margin-left: 8px">등록</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>

                            <br/>

                            <p><strong>아파트 사진</strong> : 가로 695px 세로 388px 크기의 사진을 올려주세요.</p>


                            <form enctype="multipart/form-data" method="post" action="/admin/apt/info/update/photo">

                                <p th:if="${aptInfo==null} or ${aptInfo.urlAptPhoto==null}">현재 등록된 이미지가 없습니다. 새로 등록해주세요.</p>
                                <span th:if="${aptInfo} and ${aptInfo.urlAptPhoto}">
                                <img th:src="${aptInfo.urlAptPhoto}"/>
                                <p>현재 등록된 이미지입니다. 변경하시려면 사진을 선택하고 등록 버튼을 눌러주세요.</p>
                                </span>

                                <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="file_input">
                                                <label>
                                                    사진 선택
                                                    <input type="file"
                                                           onchange="javascript:document.getElementById('file_route2').value=this.value" name="file"/>
                                                </label>
                                                <input type="text" readonly="readonly" title="File Route" id="file_route2"/>
                                            </div>
                                            <input type="hidden" name="aptId" th:value="${user.house.apt.id}"/>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-success" type="button" onclick="alert('사진이 등록되었습니다.');submit(this)" style="margin-top: -4px; margin-left: 8px">등록</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- page wrapper -->
</div>
<!-- /#wrapper -->


<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/metisMenu/metisMenu.js" th:src="@{/js/metisMenu/metisMenu.js}"></script>
<script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>

<script src="../../static/datatables/media/js/jquery.dataTables.min.js" th:src="@{/datatables/media/js/jquery.dataTables.min.js}"></script>
<script src="../../static/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" th:src="@{/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>
<script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    function submitBasicInfo() {

    	var aptOfficePhoneNumberVal = $("#aptOfficePhoneNumber").val();
    	if ( aptOfficePhoneNumberVal && !PHONE_REGEXP.test(aptOfficePhoneNumberVal)) {
			alert(" 유효한 전화번호(예: 02-000-000)를 입력하여 주십시오. ");
			$("#aptOfficePhoneNumber").focus();
			return false;
    	}

    	var aptOfficeFaxNumberVal = $("#aptOfficeFaxNumber").val();
    	if ( aptOfficeFaxNumberVal && !PHONE_REGEXP.test(aptOfficeFaxNumberVal)) {
			alert(" 유효한 팩스번호(예: 02-000-000)를 입력하여 주십시오. ");
			$("#aptOfficeFaxNumber").focus();
			return false;
    	}

    	if ( confirm(" 기본 정보를 등록하시겠습니까? ") ){
        	$("#basicInfoForm").submit();
    	}

    }

    // /admin/apt/mgt/update/corp
    function saveAptMgtCorp(){

    }

    /*]]>*/
</script>
</body>
</html>