<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link type="text/css" rel="stylesheet" href="../../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/font-awesome/css/font-awesome.css"
          th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/multiselect/css/multi-select.css"
          th:href="@{/multiselect/css/multi-select.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/css/bootstrap-datetimepicker.css"
          th:href="@{/css/bootstrap-datetimepicker.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/sbgrid/sbGrid/js/kr/co/softbowl/css/Sbgrid_default.css" th:href="@{/sbgrid/sbGrid/js/kr/co/softbowl/css/Sbgrid_default.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

	    body,div,a,ul,li,img,h1,h2,h3,h4,p,address,span,dl,dt,dd,form,
	    fieldset,legend,label,input,table,tr,td,thead,tbody,caption,colgroup{
	        padding:0; 
	        margin:0;
	    }
	    
	    header,footer,section,aside,article,time,nav,figure,figcaption,video{
	        display:block;
	    }
	    
	    body,
	    input{
	        font-size:12px; 
	        color:#333;
	        font-family:Malgun Gothic,dotum, Arial, Helvetica, sans-serif;
	    }
	
	    .defaultPopup{
	        border:1px solid #c3c3c3;
	        margin:0 auto;
	        padding:0px 15px 0px 15px;
	        vertical-align:middle;
	        background:#FFFFFF;
	    }
	
	    .apAddBtnBox {
	        margin-top:25px;
	        text-align:center;
	        margin-bottom:5px;
	    }
	    
	    .apAddBtnBox i{
	        cursor: pointer;
	    }
	    
	    .apDeleteBtnBox {
	        margin-top:25px;
	        text-align:left;
	        margin-bottom:5px;
	    }
	
	    .bottomBtnBox {
	        text-align:right;
	        margin-top:5px;margin-bottom:5px;
	    }
	    
	    .searchTable th {
	        width:50px;
	        font-weight: normal;
	    }
	    .searchTable td {
	        width:120px;
	    }

    </style>

    <title>AP 출입권한 사용자</title>
</head>

<body>
    <div class="defaultPopup">
        <h4 class="page-header">AP 출입권한 사용자</h4>

        <div class="panel panel-info">
            <div class="panel-body">
                <table class="table searchTable">    
                    <tr>
                  <th>동</th>
                  <td>
                      <select class="form-control" name="dong" id="dong" onchange="changeDong(this)">
                          <option value="" >전체</option>
                          <option value="" th:each="dong : ${dongs}" th:value="${dong}" th:text="${dong}" >동 선택</option>
                      </select>
                  </td>
                  <th>호</th>
                  <td>
                      <select class="form-control" name="ho" id="ho" >
                          <option value="" >전체</option>
                      </select>
                  </td>
                  <th>이름</th>
                  <td>
                      <input type="text" class="form-control" name="userName" id="userName" />
                  </td>
                  <td>
                            <input type="button" class="btn btn-sm btn-info" id="searchBtn" value="검색" name="searchBtn" onclick="search()"/>
                        </td>
              </tr>
                </table>
            </div>
        </div>
        
        
        <div class="sbGridArea1" id="sbGridArea1"></div>
        
        <div class="apAddBtnBox">
            <i class="fa fa-arrow-down fa-2x" aria-hidden="true" onclick="addData()"></i>
        </div>
        
        
        <div class="apDeleteBtnBox">
            <input type="button" class="btn btn-sm btn-primary" id="deleteBtn" value="삭제" name="deleteBtn" onclick="deleteData()"/>
        </div>
        
        <div class="sbGridArea2" id="sbGridArea2"></div>
        
        <div class="bottomBtnBox">
            <input type="button" class="btn btn-info sc_asSignup" id="sc_asSignup" value="저장" name="sc_asSignup" onclick="save()"/>
            <input type="button" class="btn btn-info sc_asSignup" id="cancelBtn" value="취소" name="cancelBtn" onclick="closePopup()"/>
        </div>
    </div>

<form name="frm" id="frm" method="post">
    <input type="hidden" name="aptApId" id="aptApId" th:value="${aptApId}" />
</form>

<script src="../../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../../static/js/metisMenu/metisMenu.js" th:src="@{/js/metisMenu/metisMenu.js}"></script>
<script src="../../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
<script src="../../../static/js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
<script src="../../../static/js/bootstrap-datetimepicker.min.js" th:src="@{/js/bootstrap-datetimepicker.js}"></script>

<script src="../../static/sbgrid/js/XRegExp.js" type="text/javascript" th:src="@{/sbgrid/js/XRegExp.js}"></script>
<!-- SBGrid 종속 Library -->
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json-minified.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json-minified.js}"></script>
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json2.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json2.js}"></script>
<!-- SBGrid  -->
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/SBGrid.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/SBGrid.js}"></script>
<!--Paging-->
<script type="text/javascript" src="../../static/sbgrid/sbGrid/js/common/sbGrid_common.js" th:src="@{/sbgrid/sbGrid/js/common/sbGrid_common.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var datagrid1;
    var gridJsonData1;
    var datagrid2;
    var gridJsonData2;

    $(function(){
        // sbGrid root 경로 설정.
        try{
            SBGrid.DEF.DOMAIN = "/sbgrid/sbGrid/js/";
        }catch(e){}
    });
    
    $(document).ready(function(){
        gridJsonData1 = new Array();
        gridJsonData2 = new Array();
        createDataGrid1();
        createDataGrid2();
    });
    
    function changeDong(obj){
        var dong = $(obj).val();
        $.ajax({
            type: 'GET',
            url: "/admin/apt/hos",
            dataType: 'json',
            data: {
                "dong" : dong
            },
            success: function (data) {
                 $("#ho").empty();
                 $("#ho").append('<option value="">전체</option>');
                for (i in data) {
                    $("#ho").append('<option value="' + data[i] + '">' + data[i] + '</option>');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("ajax fail");
            }
        });
    }
    
    function createDataGrid1(){
        var strCaption, 
            strWidth,
            gridAttr, 
            objJson;
    
        strCaption = "^아파트^동^호^이름^닉네임";
        strWidth = "5%,25%,15%,15%,20%,20%";
        
        gridAttr = {
            "strParentId"                   : 'sbGridArea1',
            "strId"                         : 'datagrid1',
            "strCaption"                    : strCaption,
            "strColWidth"                   : strWidth,
            "strJsonRef"                    : "gridJsonData1",
            "strStyle"                      : "width:100%; height:200px; font-family:dotum, arial; font-size:14px;",
            "strExplorerbar"            : "sortshowmove",
            "strRowHeight"              : "50px",
            "strDataHeight"              : "38px",
            "strFocusColor"         :   "#E8E8E8",
            "strSelectFontColorStyle":  "none",
            "fixedcol"                       :"1",
            "bUseMultiSorting"       : false,
            "bDataSearching"             : true,
            "bDragMode" : false,
            "bIsShowLoadingImage"   :   true,
            "strExtendLastCol"       : "scroll"
            };
    
        datagrid1 = createSBDataGrid(gridAttr);
        
        objJson = [
                     {"id" : "checkbox" , "type" : "checkbox" , "ref" : "_chk" , "style":"text-align:center;"},
                     {"id" : "aptName" , "type" : "output" , "ref" : "aptName" , "style":"text-align:center;"},
                     {"id" : "dong" , "type" : "output" , "ref" : "dong" , "style":"text-align:center;"},
                     {"id" : "ho" , "type" : "output" , "ref" : "ho" , "style":"text-align:center;"},
                     {"id" : "fullName" , "type" : "output" , "ref" : "fullName" , "style":"text-align:center;"},
                     {"id" : "nickname" , "type" : "output" , "ref" : "nickname" , "style":"text-align:center;"}
                  ];
                  
        datagrid1.createColumns(objJson);
        
        datagrid1.setFixedcellcheckbox(0, 0, true);
        
        datagrid1.addEventListener("ondblclick","grid1DbClick()","","");
        
    }
    
    function createDataGrid2(){
        var strCaption, 
            strWidth,
            gridAttr, 
            objJson;
    
        strCaption = "^아파트^동^호^이름^닉네임";
        strWidth = "5%,25%,15%,15%,20%,20%";
        
        gridAttr = {
            "strParentId"                   : 'sbGridArea2',
            "strId"                         : 'datagrid2',
            "strCaption"                    : strCaption,
            "strColWidth"                   : strWidth,
            "strJsonRef"                    : "gridJsonData2",
            "strStyle"                      : "width:100%; height:200px; font-family:dotum, arial; font-size:14px;",
            "strExplorerbar"            : "sortshowmove",
            "strRowHeight"              : "50px",
            "strDataHeight"              : "38px",
            "strFocusColor"         :   "#E8E8E8",
            "strSelectFontColorStyle":  "none",
            "fixedcol"                       :"1",
            "bUseMultiSorting"       : false,
            "bDataSearching"             : true,
            "bDragMode" : false,
            "bIsShowLoadingImage"   :   true,
            "strExtendLastCol"       : "scroll"
            };
    
        datagrid2 = createSBDataGrid(gridAttr);
        
        objJson = [
                     {"id" : "checkbox" , "type" : "checkbox" , "ref" : "_chk" , "style":"text-align:center;"},
                     {"id" : "aptName" , "type" : "output" , "ref" : "aptName" , "style":"text-align:center;"},
                     {"id" : "dong" , "type" : "output" , "ref" : "dong" , "style":"text-align:center;"},
                     {"id" : "ho" , "type" : "output" , "ref" : "ho" , "style":"text-align:center;"},
                     {"id" : "fullName" , "type" : "output" , "ref" : "fullName" , "style":"text-align:center;"},
                     {"id" : "nickname" , "type" : "output" , "ref" : "nickname" , "style":"text-align:center;"}
                  ];
                  
        datagrid2.createColumns(objJson);
        
        datagrid2.setFixedcellcheckbox(0, 0, true);
        
    }
    
    function search(){
        $.ajax({
            url: '/admin/user/list-data',
            type: 'post',
            async : false,
            dataType: "json",
            data: {
                "dong" : $("#dong").val(),
                "ho" : $("#ho").val(),
                "userName" : $("#userName").val()
            },
            success: function(jsonData) {
                gridJsonData1 = jsonData;
                datagrid1.rebuild();
            },
            error: function(xhr, status, error) {
                alert("error : apt ap access-auth-list 1 data fail");
            }
        });
    }
    
    function setGirid2Row(rowData){
        
        if(rowData != null){
            if(gridJsonData2 != null && gridJsonData2.length > 0){
                for(var j=0;j<gridJsonData2.length;j++){
                    var rowData2 = gridJsonData2[j];
                    if(rowData.id == rowData2.id){
                        return true;
                    }
                }
            }
            
            datagrid2.insertRow(0, 'below');//첫번째 row에 입력
            gridJsonData2[0]._chk = "false";
            gridJsonData2[0].id = rowData.id;
            gridJsonData2[0].aptName = rowData.aptName;
            gridJsonData2[0].dong = rowData.dong;
            gridJsonData2[0].ho = rowData.ho;
            gridJsonData2[0].fullName = rowData.fullName;
            gridJsonData2[0].nickname = rowData.nickname;           
        }
        
        return false;
        
    }
    
    function addData(){
        
        if(gridJsonData1 != null && gridJsonData1.length > 0){
            for(var i=0;i<gridJsonData1.length;i++){
                var rowData = gridJsonData1[i];
                if(rowData._chk == "true"){
                    
                    datagrid1.initFixedcellcheckbox(); // 캡션부분 checkbox만 변경됨. 
                    datagrid1.setFixedcellcheckboxChecked(i, 1, false); //작동안함 체크박스 해제가 안됨....
                    
                    if(setGirid2Row(rowData)){
                        continue;
                    }
                }
            }
            datagrid1.rebuild();
            datagrid2.rebuild();
        }
        
    }
    
    function deleteData(){
        if(gridJsonData2 != null && gridJsonData2.length > 0){
            for(var i=gridJsonData2.length-1;i>=0;i--){
                var rowData = gridJsonData2[i];
                if(rowData._chk == "true"){
                    gridJsonData2.splice(i,1);
                }
            } 
            datagrid2.rebuild();
        }
    }
    
    function grid1DbClick(){
        var rowData = datagrid1.getRowData(datagrid1.getRow());
        setGirid2Row(rowData);
        datagrid2.rebuild();
    }
    
    function closePopup(){
        self.close();
    }
    
    function save(){
        
        if(gridJsonData2.length > 0){
            if(confirm("저장하시겠습니까?")){
                $.ajax({
                    url: '/admin/apt/ap/access-auth-save',
                    type: 'post',
                    async : false,
                    dataType: "html",
                    traditional: true , // parameter 직렬화를 느슨하게 처리.
                    data: {
                        "jsonParam" : JSON.stringify(gridJsonData2),
                        "aptApId" : $("#aptApId").val(),
                        "type" : "2"
                    },
                    success: function(data) {
                        if(data == 1){
                            alert("저장되었습니다.");
                            openerDataRefreshAndclose();
                        } else {
                            alert("저장된 항목이 없습니다.");
                            closePopup();
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("error : access-auth-save ajax fail !! ");
                    }
                }); 
            }
        }
        
    }
    
    function openerDataRefreshAndclose(){
        try{ opener.getData2nRebuild(); }catch(e){}
        closePopup();
    }
      
    /*]]>*/
</script>

</body>
</html>
