<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link type="text/css" rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css" th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>

    <style>
        .no-border-on-me > thead > tr > th,
        .no-border-on-me > tbody > tr > th,
        .no-border-on-me > tfoot > tr > th,
        .no-border-on-me > thead > tr > td,
        .no-border-on-me > tbody > tr > td,
        .no-border-on-me > tfoot > tr > td {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>JAHA| 게시물목록</title>
</head>

<body>

<div id="wrapper">                <!-- /#wrapper -->

    <div th:replace="admin/admin :: top-nav"></div>

    <div th:replace="admin/admin :: vert-nav-admin"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 th:text="${category.name}" class="page-header">게시판</h1>

				<input type="hidden" id="url" name="url" th:value="${page.url}" />
				<input type="hidden" id="page" name="page" th:value="${page.number-1}" />
				<input type="hidden" id="size" name="size" th:value="${page.size}" />

				<!-- search form -->
				<div th:replace="admin/board/search-form :: board-search-form"></div>

                <div id="content-container">
                    <div id="table-container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th width="10%">글쓴이</th>
                                <th width="10%">소속</th>
                                <th width="30%">제목</th>
                                <th width="7%">등록일</th>
                                <th width="5%">조회</th>
                                <th width="10%" th:if="${category.type != 'notice'}">공개범위</th>
                                <th width="10%" th:if="${category.type == 'notice'}">상단고정</th>
                                <th width="8%">사진</th>
                                <th width="10%">첨부파일</th>
                                <th width="10%">제어</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${page.content.empty}">
                                <td colspan="8">게시글 목록이 없습니다.</td>
                            </tr>
                            <tr th:each="post : ${page.content}">
                                <td>
                                    <a th:href="@{/admin/user/info/}+${post.user.id}" target="_blank"><p th:if="${post.writerName}" th:text="${post.writerName}"></p></a>
                                </td>
                                <td>
                                    <p th:unless="${post.user.type.jaha}" th:text="${post.user.house.apt.name}"></p>
                                    <p th:if="${post.user.type.jaha}" >e마을</p>
                                </td>
                                <td>
                                	<div th:if="${post.blindYn eq 'Y'}" style="float: left; color:red">[숨김]</div>
                                    <div class="board-list-contents" height="40px" th:if="${post.category.contentMode == 'html'}"  >
                                        <a class="board-list-title" th:if="${post.title != null}" th:text="${post.title}" th:href="'/admin/board/post/read/' + ${post.id}"></a>
                                        <a class="board-list-title" th:if="${post.title == null}" th:text="${post.content}" th:href="'/admin/board/post/read/' + ${post.id}"></a>
                                        (<span th:text="${post.commentCount}"></span>)
                                    </div>
                                    <div class="board-list-contents" height="40px" th:if="${post.category.contentMode == 'text'}"  >
                                		<a class="board-list-title" th:if="${ post.title != null}" th:text="${post.title}" th:href="'/admin/board/post/read/' + ${post.id}"></a>
                                		<a class="board-list-title" th:if="${post.title == null}" th:text="${post.content}" th:href="'/admin/board/post/read/' + ${post.id}"></a>
                                		(<span th:text="${post.commentCount}"></span>)
                                    </div>
                                </td>
                                <td th:text="${post.regDate}"></td>
                                <td th:text="${post.viewCount}"></td>
                                <!--상단고정범위-->
                                <td  th:if="${category.type != 'notice'}" th:text="${post.rangeSido} + ' ' + ${post.rangeSigungu}"></td>
                                <td   th:if="${category.type == 'notice' AND post.topFix ==true }" th:text="고정" ></td>
                                <td   th:if="${category.type == 'notice' AND post.topFix == false }"></td>

                                <!-- /////////////////// -->
                                <td>
                                    <p th:if="${post.imageCount == 0}">없음</p>
                                    <img th:if="${post.imageCount != 0}" th:src="'/api/board/post/image/' + ${post.id} + '/0-thumb.jpg'" width="80px" height="80px"/>
                                </td>
                                <td>
                                    <p th:if="!${post.file1}">없음</p>
                                    <span th:if="${post.file1}">
                                    	<a th:href="${post.file1}">1번 파일</a>
                               		</span>
	                                <span th:if="${post.file2}">
	                                    <a th:href="${post.file2}">2번 파일</a>
	                                </span>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">더 보기<span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a th:href="'/admin/board/post/modify/' + ${post.id}">수정</a></li>
                                                <li><a th:href="'javascript:deleteBoard(' + ${post.id} + ')'">삭제</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                        <button class="btn btn-success" style="float: right" th:onclick="'location.href=\'/admin/board/post/create/' + ${category.id} + '\''">글쓰기
                        </button>
                    </div>
                </div>

                <!--// Pagination Bar -->
                  <div th:fragment='paginationbar'>
                      <ul class='pagination'>
                          <li th:class="${page.firstPage}? 'disabled' : ''">
                              <span th:if="${page.firstPage}">처음</span>
                              <a th:if="${not page.firstPage}" th:href="'javascript:search(0);'">맨처음</a>
                          </li>
                          <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                              <span th:if="${not page.hasPreviousPage}">«</span>
                              <a th:if="${page.hasPreviousPage}" th:href="'javascript:search(' + ${page.number - 2} + ');'">«</a>
                          </li>
                          <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                              <span th:if="${item.current}" th:text="${item.number + 1}">1</span>
                              <a th:if="${not item.current}" th:href="'javascript:search(' + ${item.number} + ');'"><span th:text="${item.number + 1}">1</span></a>
                          </li>
                          <li th:class="${page.hasNextPage}? '' : 'disabled'">
                              <span th:if="${not page.hasNextPage}">»</span>
                              <a th:if="${page.hasNextPage}" th:href="'javascript:search(' + ${page.number} + ');'">»</a>
                          </li>
                          <li th:class="${page.lastPage}? 'disabled' : ''">
                              <span th:if="${page.lastPage}">마지막</span>
                              <a th:if="${not page.lastPage}" th:href="'javascript:search(' + ${page.totalPages - 1} + ');'">끝</a>
                          </li>
                      </ul>
                  </div>
                  <!-- Pagination Bar //-->


            </div>
        </div>
    </div>
</div>
<script src="../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/metisMenu/metisMenu.js" th:src="@{/js/metisMenu/metisMenu.js}"></script>
<script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    function deleteBoard(postId) {
        var path = '/api/board/post/delete/' + postId;

        if (confirm("삭제하시겠습니까??")){
            $.ajax({
                url: path,
                type: 'delete',
                success: function(result){
                    window.location.reload();
                }
            });
        }
    }

    function removeHtml(text) {
        text = text.replace(/<br>/ig, "\n"); // <br>을 엔터로 변경
        text = text.replace(/&nbsp;/ig, " "); // 공백
        // HTML 태그제거
        text = text.replace(/<(\/)?([a-zA-Z]*)(\s[a-zA-Z]*=[^>]*)?(\s)*(\/)?>/ig, "");

        // shkim.add.
        text = text.replace(/<(no)?script[^>]*>.*?<\/(no)?script>/ig, "");
        text = text.replace(/<style[^>]*>.*<\/style>/ig, "");
        text = text.replace(/<(\"[^\"]*\"|\'[^\']*\'|[^\'\">])*>/ig, "");
        text = text.replace(/<\\w+\\s+[^<]*\\s*>/ig, "");
        text = text.replace(/&[^;]+;/ig, "");
        text = text.replace(/\\s\\s+/ig, "");

        return text;
    }

    $(document).ready(function() {

    	$(".board-list-title").each(function() {
			var tempTitle = $(this).text();
			if (tempTitle)  {
			 	$(this).text(removeHtml(tempTitle ));
			}
			else{
				$(this).text("무제");
			}
		});
    });

    function search(page) {
      var urlVal = $("#url").val();
      var pageVal = $("#page").val();
      var sizeVal = $("#size").val();

      if (page === 0 || page) {
        pageVal = page;
      }

    	var actionUrl = urlVal + "?page=" + pageVal + "&size=" + sizeVal;

    	  var searchItem = $("#searchItem").val();
    	  if (searchItem) {
    	    actionUrl += "&searchItem=" + searchItem;
    	  }

    	  var searchKeyword = $("#searchKeyword").val();
    	  if (searchKeyword) {
    	    actionUrl += "&searchKeyword=" + searchKeyword;
    	  }

    	  location.href = actionUrl;
    	}


    $("#resetBtn").bind("click", function(){
    	$("#searchItem").val("title");
        $("#searchKeyword").val("");
    });

    /*]]>*/
</script>

</body>
</html>
