<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link type="text/css" rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css" th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>

    <style>
        .no-border-on-me > thead > tr > th,
        .no-border-on-me > tbody > tr > th,
        .no-border-on-me > tfoot > tr > th,
        .no-border-on-me > thead > tr > td,
        .no-border-on-me > tbody > tr > td,
        .no-border-on-me > tfoot > tr > td {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>JAHA| 게시물목록</title>
</head>

<body>
           <!-- /#wrapper -->
<div id="wrapper">     

    <div th:replace="admin/admin :: top-nav"></div>

    <div th:replace="admin/admin :: vert-nav-admin"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" th:text="${category.name}"></h1>

                <div id="content-container" class="container show-grid">
                
                    <form enctype="multipart/form-data" method="post" action="/admin/board/post/write">
                    
                        <div class="panel panel-default">
                            <div class="panel-body bg-info" id="noti-div" >
                            <div class="row">
                                        <label style="font-size: 13pt; width: 80px; margin-left : 1em;" > 제목입력 </label>
                                        <input type="text" id="title" name="title"  placeholder="최대 30자 입력 가능" maxlength="30" style="width: 600px; height: 30px" />
                                 </div>
                            
                            <div class="row" style="margin-left: 90px" th:if="${category.type}=='notice'">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="notification" class="type-check" id="notification" checked="checked"/> 작성시 알림 전송
                                </label>
                                <label class="checkbox-inline" th:if="${user.type.jaha}">
                                    <input type="checkbox" name="rangeAll" class="type-check" id="rangeAll"/> 모든 사용자에게 공개
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="topFix" class="type-check" id="topFix"  /> 게시판 상단 고정 (최대 3개)
                                </label>
                            </div>
                            </div>
                            <div class="panel-body">
                            <div class="row">
                                <div id="image-file-up" class="col-md-6" style=" background-color: white;">
                                    <p>사진첨부 (최대 3개 등록)</p>
                                    <div class="file_input">
                                        <label>
                                            사진 선택
                                            <input type="file" onchange="javascript:document.getElementById('file_route1').value=this.value" name="files" id="pic1"/>
                                        </label>
                                        <input type="text" readonly="readonly" title="File Route" id="file_route1"/>
                                    </div>

                                    <div class="file_input">
                                        <label>
                                            사진 선택
                                            <input type="file" onchange="javascript:document.getElementById('file_route2').value=this.value" name="files"  id="pic2"/>
                                        </label>
                                        <input type="text" readonly="readonly" title="File Route" id="file_route2"/>
                                    </div>

                                    <div id="file_up" class="file_input">
                                        <label>
                                            사진 선택
                                            <input type="file" onchange="javascript:document.getElementById('file_route3').value=this.value" name="files"  id="pic3"/>
                                        </label>
                                        <input type="text" readonly="readonly" title="File Route" id="file_route3"/>
                                    </div>
                                    
                                </div>
								<div class="col-md-6" style="background-color: white;">
								<p>파일첨부 (최대 2개 등록)</p>
                                    <div class="file_input"  >
                                        <label>
                                            파일 선택
                                            <input type="file" onchange="javascript:document.getElementById('file_route4').value=this.value" name="files2"/>
                                        </label>
                                        <input type="text" readonly="readonly" title="File Route" id="file_route4"/>
                                    </div>

                                    <div class="file_input">
                                        <label>
                                            파일 선택
                                            <input type="file" onchange="javascript:document.getElementById('file_route5').value=this.value" name="files2"/>
                                        </label>
                                        <input type="text" readonly="readonly" title="File Route" id="file_route5"/>
                                    </div>
                                    <label style="background-color: transparent; height: 25px"></label>
                                   </div>
                                   </div>
                            </div>


                            <div class="panel-body">
                                <textarea class="form-control" placeholder="내용을 입력하세요" rows="30" name="content" id= "content" style="resize: none"></textarea><br/>
                            </div>
                            <input type="hidden" name="categoryId" th:value="${category.id}" value="0"/>
                            <div class="panel-footer" align="right">
                                <input class="btn btn-success" th:if="${category.type}=='notice'" type="button" value="미리보기" onclick="titleCheckPreview()"  />
                                <input class="btn btn-success" type="button" value="글쓰기 완료"  onclick="titleCheck()" />
                                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#cancelModal" >취소</button>


								<!-- 취소모달 팝업 -->
										<div class="modal fade" id="cancelModal" tabindex="-1"	role="dialog" aria-labelledby="myModalLabel"	aria-hidden="true">
											<div class="modal-dialog modal-sm ">
												<div class="modal-content">
													<div class="modal-body"> 작성 중인 글을 취소하시겠습니까?</div>
													<div class="modal-footer" style="text-align: center">
														<button type="button" class="btn btn-default" onclick="history.back()" style="width: 70px">예</button>
														<button type="button" class="btn btn-default" data-dismiss="modal">아니오</button>
													</div>
												</div>
											</div>
										</div>
										
								<!-- 글쓰기 완료 모달 팝업 -->
										<div class="modal fade" id="writeModal" tabindex="-1"	role="dialog" aria-labelledby="myModalLabel"	aria-hidden="true" style="display: none; z-index: 1070;">
											<div class="modal-dialog modal-sm ">
												<div class="modal-content">
													<div class="modal-body" align="center"> 작성중인 글을 등록하시겠습니까? </div>
													<div class="modal-footer" style="text-align: center">
														<button type="submit" class="btn btn-default" onclick="fileExtensionCheck()" style="width: 70px">예</button>
														<button type="button" class="btn btn-default" data-dismiss="modal">아니오</button>
													</div>
												</div>
											</div>
										</div>
										
										<!-- 제목입력 모달  -->
										<div class="modal fade" id="titleModal" tabindex="-1"	role="dialog" aria-labelledby="myModalLabel"	aria-hidden="true" style="display: none; z-index: 1070;">
											<div class="modal-dialog modal-sm ">
												<div class="modal-content">
													<div class="modal-body" style="text-align: center;"> 제목을 입력해주세요 (필수항목)</div>
														<div class="modal-footer" style="text-align: center">
														<button type="button" class="btn btn-default" data-dismiss="modal"  >확인</button>
													</div>
												</div>
											</div>
										</div>
											
											<!-- 미리보기 모달  -->
									<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													<h3 class="modal-title" id="myModalLabel" align="left">공지사항 미리보기</h3>
												</div>
												<div class="modal-body">
													<div id="wrapper">
														<!-- /#wrapper -->

														<div class="row">
															<div class="col-lg-12">
																<div id="content-container">
																	<div class="panel panel-info">
																		<div class="panel-heading" style="height: 40px;">
																			<p style="float: left;">제목 : </p>
                          														 <p style="float: left;" id="previewTitle"> </p>

                     													   </div>
                        
																		<div class="panel-heading" style="height: 40px;">
																			<p style="float: left;" th:text="${user.fullName}">작성자</p>
																			<p style="float: right;" th:text="게시일"></p>
																		</div>
																		<!-- /.panel-heading -->
																		<div class="panel-body">
																		<div align="left">
																			<img id="preview1"  width="400"/><br/>
																			<img id="preview2"  width="400"/><br/>
																			<img id="preview3"  width="400"/>
																			<pre id = "previewContent"  style="margin-bottom: 5%; background: none; border: none"></pre>
																			</div>

																			<div class="well well-sm">
																				<p id="p_comment_title">댓글쓰기</p>
																				<textarea class="form-control" rows="3"
																					id="text-comment"
																					style="resize: none; margin-bottom: 5px"></textarea>

																				<div class="button-position">
																					<input type="button"
																						class="btn btn-sm btn-outline btn-danger"
																						value="등록" />
																				</div>
																			</div>
																			<div class="well well-sm" id="comments-container">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
                                				<button class="btn btn-success" type="button" data-toggle="modal" data-dismiss="modal">취소</button>
												<a data-toggle="modal" href="#writeModal" class="btn btn-success">글쓰기 완료</a>
												
												</div>
											</div>
										</div>
									</div>

								</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/metisMenu/metisMenu.js" th:src="@{/js/metisMenu/metisMenu.js}"></script>
<script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
               
               /*    $('#modal-info1').modal('show'); */
               function titleCheck(){
            	   var title = $('#title').val();
            	   title = title.replace(/^\s*/, "");
                   if(title ==""){
                	   $('#titleModal').modal('show');
                   }else{
                	   $('#writeModal').modal('show'); 
                	   }
                  }
               
               function titleCheckPreview(){
            	   var title = $('#title').val();
            	   title = title.replace(/^\s*/, "");
                   if(title ==""){
                	   $('#titleModal').modal('show');
                   }else{
                	   imagePreview()
                	   previewTest();
                	   $('#previewModal').modal('show'); 
                	   }
                  }
               
    function fileExtensionCheck() {
        var submitAvailable1 = true;
        $('input[name="files"]').each(function(){
            var val = $(this).val();
            if(val != ''){
                var ext = val.split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                    submitAvailable1 = false;
                }
            }
        });

        if(!submitAvailable1){
            alert('사진은 gif,png,jpg,jpeg 파일만 업로드 할 수 있습니다.');
            event.preventDefault();
        }

        var submitAvailable2 = true;
        $('input[name="files2"]').each(function(){
            var val = $(this).val();
            if(val != ''){
                var ext = val.split('.').pop().toLowerCase();
                if ($.inArray(ext, ['pdf', 'hwp', 'doc', 'docx', 'ppt', 'pptx', 'xlsx', 'xlsm', 'xls', 'xml']) == -1) {
                    submitAvailable2 = false;
                }
            }
        });

        if(!submitAvailable2){
            alert('파일은 pdf, hwp, doc, docx, ppt, pptx, xlsx, xlsm, xls, xml 파일만 업로드 할 수 있습니다.');
            event.preventDefault();
        }
    }
    
    
	function previewTest() {
		var content = $("#content").val();
		var title = $("#title").val();
		$("#previewContent").text(content);
		$("#previewTitle").text(title);

	}
 
    
/*미리보기   */
 
function imagePreview() {
	var preview1 = document.getElementById('preview1');
	var preview2 = document.getElementById('preview2');
	var preview3 = document.getElementById('preview3');
	var file1 = $("#pic1", document)[0].files[0];
	var file2 = $("#pic2", document)[0].files[0];
	var file3 = $("#pic3", document)[0].files[0];
	
	var reader1  = new FileReader();
	var reader2  = new FileReader();
	var reader3  = new FileReader();
	reader1.addEventListener("load", function () { preview1.src = reader1.result;}, false);
	reader2.addEventListener("load", function () { preview2.src = reader2.result;}, false);
	reader3.addEventListener("load", function () { preview3.src = reader3.result;}, false);
	
	if (file1) {
		reader1.readAsDataURL(file1);
	}
	
	if (file2) {
		reader2.readAsDataURL(file2);
	}
	
	if (file3) {
		reader3.readAsDataURL(file3);
	}
	
}
 
/*////////////  */
    
    
    
    /*]]>*/
</script>

</body>
</html>
