<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>e마을 유저 홈페이지</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

	<meta name="naver-site-verification" content="9bbc13c1ca9c07fdb3fc96bbadf58df3558bbeb9"/>
    <meta name="keywords" content="아파트앱, 온라인투표, 무인택배, 자동출입문, IoT, 이마을, e마을, 이도어, e도어, 전자투표, 모바일투표, 층간소음, 아파트 관리비, 주차관리, 마을뉴스, 안전귀가, 스마트출입, 소셜IoT, 사물인터넷, 버스도착시간, 오늘날씨, 아파트 커뮤니티, 아파트 홈페이지, 아파트 관리업체, 관리사무소, 아파트 선거, 동대표, 입주자대표" />
	<meta name="description" content="꿈의 아파트를 실현하는 스마트앱" />

    <link href="../../static/css/bootstrap.min.css" type="text/css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css"
          th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/user.css"
          th:href="@{/css/user.css}"/>

    <style>
        pre {
            display: block;
            padding: 10px;
            margin: 0;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #fff;
            border: none;
            border-radius: 0;
            font-family: "Nanum Gothic", sans-serif;
            white-space:pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
        }

    </style>
</head>
<body>
<div th:replace="user/user :: nav"></div>

<div class="container">

    <div id="page">

        <div th:replace="user/user :: left-side-menu"></div>

        <div id="wrapper" class="col-xs-10">
            <h3>인사말</h3>

            <div>
                <ol class="breadcrumb">
                    <li><a href="#">홈</a></li>
                    <li><a th:text="${leftSideMenu}? '커뮤니티' : '아파트소개'" href="#">아파트소개</a></li>
                    <li class="active">인사말</li>
                </ol>
            </div>

            <div th:if="${user.house.apt.aptInfo}" class="board-border" style="padding: 10px;">
                <pre th:text="${user.house.apt.aptInfo.introduce}"></pre>
            </div>
            <div th:if="${user.house.apt.aptInfo != null and user.house.apt.aptInfo.greetingOccupant != null and user.house.apt.aptInfo.greetingOccupant ne '' }" class="board-border" style="padding: 10px;margin-top:5px;">
                입주자 대표회의 현황/인사말
                <pre th:text="${user.house.apt.aptInfo.greetingOccupant}"></pre>
            </div>
            <div th:if="${user.house.apt.aptInfo != null and user.house.apt.aptInfo.greetingOffice != null and user.house.apt.aptInfo.greetingOffice ne '' }" class="board-border" style="padding: 10px;margin-top:5px;">
                관리소 현황/인사말
                <pre th:text="${user.house.apt.aptInfo.greetingOffice}"></pre>
            </div>
            <div th:if="${user.house.apt.aptInfo != null and user.house.apt.aptInfo.greetingSenior != null and user.house.apt.aptInfo.greetingSenior ne '' }" class="board-border" style="padding: 10px;margin-top:5px;">
                노인회 현황/인사말
                <pre th:text="${user.house.apt.aptInfo.greetingSenior}"></pre>
            </div>
            <div th:if="!${user.house.apt.aptInfo}" class="board-border">
                <div>정보가 없습니다.</div>
            </div>
        </div>

    </div>
</div>


<div th:replace="user/user :: footer"></div>


<script src="../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/




    /*]]>*/
</script>
</body>
</html>
