<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'e마을 | '+${user.house.apt.name}">e마을 유저 홈페이지</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

    <meta name="naver-site-verification" content="9bbc13c1ca9c07fdb3fc96bbadf58df3558bbeb9"/>
    <meta name="keywords"
          content="아파트앱, 온라인투표, 무인택배, 자동출입문, IoT, 이마을, e마을, 이도어, e도어, 전자투표, 모바일투표, 층간소음, 아파트 관리비, 주차관리, 마을뉴스, 안전귀가, 스마트출입, 소셜IoT, 사물인터넷, 버스도착시간, 오늘날씨, 아파트 커뮤니티, 아파트 홈페이지, 아파트 관리업체, 관리사무소, 아파트 선거, 동대표, 입주자대표"/>
    <meta name="description" content="꿈의 아파트를 실현하는 스마트앱"/>

    <link href="../../static/css/bootstrap.min.css" type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css" th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/user.css" th:href="@{/css/user.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/android2.css" th:href="@{/css/android2.css}"/>

    <style>
        table td {
            padding: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>
<div th:replace="user/user :: nav"></div>

<div class="container">

    <div id="page">

        <div th:replace="user/user :: left-side-menu"></div>

        <div id="wrapper" class="col-xs-10">
            <h3>마을뉴스</h3>

            <div>
                <ol class="breadcrumb">
                    <li><a href="#">홈</a></li>
                    <li><a href="/user/board/news/list">마을뉴스</a></li>
                    <li class="active" th:text="${categoryName}"></li>
                </ol>
            </div>

            <div>
                <p class="today-view-title" th:text="${post.title}"></p>
                <span class="label label-warning" style="height: 50px;"
                      th:if="${not hashtags.isEmpty()}" th:each="hashtag : ${hashtags}" th:text="${hashtag.name}" />
                <div style="padding-top:5px;">
                    <span class="today-view-regDate" th:text="${post.regDate}"></span>
                    <span style="float: right">
                        <a th:href="'/user/board/news/list/'+${post.newsCategory}"><i class="fa fa-navicon"></i> 목록</a>
                    </span>
                </div>
                <div th:utext="${post.contentOnlyBody}" style="width: 700px;font-size: 14pt; margin-top: 30px"></div>
                <p/>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer" id="footer">
    <div class="container">
        <div id="footer-logo" class="col-xs-2">
            <a class="emaul-logo" id="footer-emaul-logo"><span>eMAUL</span></a>
        </div>
        <div id="footer-right" class="col-xs-10" style="font-size: 12px">
            <div class="right_sub1" >
                <p style="font-size:11.5px;"><a href="#;" onclick="movePagePolicyService()">이용약관</a>
                	| <a href="#;" onclick="movePagePolicyPrivacy()">개인정보취급방침</a>
                	| <a href="#;" onclick="movePagePolicyLocation()">위치기반서비스이용약관</a>
                	| <a href="#;" onclick="movePageFaq()">자주하는질문</a>
                	| <a href="#;" onclick="movePageNotice()">e마을공지사항</a>
                	| <a href="#;" onclick="movePageEmailPop()">이메일무단수집거부</a>
                	| <a href="#;" onclick="movePageManual()">사용설명서</a>
                </p>

                <div id="apps-badge" style="text-align: right; padding:7px 0px 5px 5px;">
                    <a href="https://play.google.com/store/apps/details?id=com.jaha.app.emaul" target="_blank" title="새창으로 이동"  style="margin-right:-5px;">
                        <img alt="Android app on Google Play" src="../../static/img/m_google.png" style="width: 100px; height: auto" th:src="@{/img/m_google.png}" />
                    </a>
					<a href="https://itunes.apple.com/kr/app/ima-eul-mobail-tupyo-mich/id1058747039?mt=8 " target="_blank" title="새창으로 이동"  style="margin-right:-2px;">
                        <img alt="Available on the iphone App store" src="../../static/img/m_apple.png" style="width: 98px; height: auto; " th:src="@{/img/m_apple.png}" />
                    </a>
                </div>
            </div>
            <div style="border-top: 1px solid #d2d2d2">
                <p>서울시 구로구 디지털로32길 30 코오롱디지털타워빌란트 404호<br/>
                COPYRIGHT &copy; 2015 <a href="http://jahasmart.com" target="_blank">자하스마트</a> ALL RIGHT RESERVED</p>
                <div id="site-link" style="float: right">
                    <select class="form-control" style="width: 200px; font-size: 12px" onchange="if(value != '') {window.open(value,'_blank');};">
                        <option value="">관련 사이트 연결</option>
                        <option value="http://jahasmart.com">자하스마트</option>
                        <!-- 임시로 주석처리함 추후에 각 지역별 구청으로 표시되게 작업이 필요함 -->
                        <!--option value="http://www.guro.go.kr">구로구청</option-->
                    </select>
                </div>
            </div>
        </div>
    </div>
    <form name="moveFrm" id="moveFrm" action="/provision/view" method="post">
	    <input type="hidden" name="id" />
	</form>
    <script type="text/javascript">
    /*<![CDATA[*/
    function movePagePolicyService(){
    	moveFrm.id.value = "1";
    	moveFrm.submit();
    }
    function movePagePolicyPrivacy(){
    	moveFrm.id.value = "2";
        moveFrm.submit();
    }
    function movePagePolicyLocation(){
    	moveFrm.id.value = "3";
        moveFrm.submit();
    }
    function movePageFaq(){
        location.href = "/user/system-faq/list";
    }
    function movePageNotice(){
    	location.href = "/user/system-notice/list";
    }
    function movePageEmailPop(){
    	var width = 800;
    	var height = 540;
    	var left = (screen.width-width)/2;
    	var top = (screen.height-height)/2;
        window.open("/html/policy-email.html","policy-email","width="+width+", height="+height+", left="+left+", top="+top+", toolbar=no, location=no, status=no, menubar=no, scrollbars=no, resizable=no");
    }
    function movePageManual(){
    	location.href = "/user/manual/view";
    }
    /*]]>*/
    </script>
</div>


<script src="../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
</body>
</html>
