<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
      	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorator="v2/group-admin/template/layout">
<head>
	<script src="../../static/ckeditor/ckeditor.js" th:src="@{/ckeditor/ckeditor.js}"></script>

<style>
    .newsRight{
        text-align:right;
        margin:5px 5px;
        vertical-align:middle
    }
    .nesessary{
        color:red;
        font-size:10px;
    }
    table th{
        width:20%;
    }
    .noticeSignupbox{
        margin-bottom:40px;
        overflow:hidden;
    }

    /*인풋파일*/
    .noticeFileTextbox{
        float:left;
        width:30%;
    }

    .noticeFileBox{
        position:relative;
        width:7%;
        height:29px;
        display:inline-block;
    }

    .noticeFileFakeBtn{
        width:80px;
        position:absolute;
        top:0px;
        margin-left:5px;
    }

    .noticeFileupload{
        font-size:45px;
        position:absolute;
        right:0px;
        top:0px;
        opacity:0;
        .filter:alpha(opacity=0);
        -ms-filter:"alpha(opacity=0)";
        -khtml-opactiy:0;
        -moz-opacity:0;
    }

    .noticeFileLabel{
        display:none;
    }

    .noticeFileAddBtn{
        position:absolute;
        top:0px;
        left:90px;
    }
	.noticePassWord{
			color:#aaa;
			font-size:12px;
	}
	.warningPassWord, .warningEmail{
		color:red;
		font-size:12px;
	}

	.noticeFile{
		color:#aaa;
			font-size:12px;
	}
</style>

    <title th:text="${category.name} + ' | 글쓰기'">공지사항 | 글쓰기</title>
</head>

<body>

<div id="page-wrapper" layout:fragment="layout_content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" th:text="${category.name}"></h1>

            <div id="content-container">

                <form enctype="multipart/form-data" method="post" action="/v2/group-admin/board/group/create">
                    <input type="hidden" name="categoryId" th:value="${category.id}" value="0" />

                    <div class="panel-body">
                    	<p class="newsRight"><span class="fa fa-asterisk nesessary" style="font-size:8px;"></span>필수 입력 항목 입니다.</p>
                        <div class="border-round" style="padding: 0; margin: 0 0 10px 0">
                            <table class="table table-responsive table" style="margin-bottom: 0">
                                <tbody>
                                    <tr>
                                        <th class="info">노출 범위 설정<span class="fa fa-asterisk nesessary"></span></th>
                                        <td class="form-inline">
											<div class="form-inline" th:if="${displayRange != null}">
						                      	<span th:text="${displayRange.area1}"></span>
						                      	<input type="hidden" id="rangeSido" name="rangeSido" th:value="${displayRange.area1}" />
						                       	<span th:if="${displayRange.area2 != null}" th:text="${displayRange.area2}"></span>
						                       	<input th:if="${displayRange.area2 != null}" type="hidden" id="rangeSigungu" name="rangeSigungu" th:value="${displayRange.area2}" />
						                       	<!--<select id="" name="" multiple="multiple" class="form-control">-->
						                       	<select id="rangeDong" name="rangeDong" class="form-control">
						                       		<option value="" >전체</option>
													<option th:each="simpleAddr : ${simpleAddrList}" th:value="${simpleAddr.emdNm}" th:text="${simpleAddr.emdNm}" >동 선택</option>
						                       	</select>
											</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">푸시알림 전송</th>
                                        <td class="form-inline">
				                        	<label class="radio-inline">
				                                <input type="radio" id="_push_status_reserv" name="_push_status" value="reserv" onclick="changeReservYn(this);" /> 예약 푸시발송
				                            </label>
				                        	<label class="radio-inline">
				                                <input type="radio" id="_push_status_instant" name="_push_status" value="instant" onclick="changeReservYn(this);" /> 즉시 푸시발송
				                            </label>
				                            <input type="hidden" id="pushStatus" name="pushStatus" value="" /><!-- instant / reserv -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">제목<span class="fa fa-asterisk nesessary"></span></th>
                                        <td class="form-inline">
                          					<input class="form-control"  type="text" id="title" name="title"  placeholder="최대 30자 입력 가능" maxlength="30" style="width: 600px; height: 30px" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">내용<span class="fa fa-asterisk nesessary"></span></th>
                                        <td class="form-inline">
                       						<textarea class="form-control" placeholder="내용을 입력하세요" rows="30" id="content" name="content" style="resize: none"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">파일첨부<span class="badge">0</span></th>
                                        <td class="form-inline">
				                        	<div id="image-file-up" class="col-md-10">
				                            	<div class="file_input">
				                                	<input type="text" readonly="readonly" title="File Route" id="file_route1" />
				                                	<label>
				                                    	파일선택
				                                    	<input type="file" onchange="uploadFile(this);" name="attachFile" id="attachFile" />
				                                	</label>
				                                	<span class="noticeFile">5MB 이하의 파일 3개까지 첨부하실 수 있습니다.</span>

													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
													</div>

													<ul id="_ul_uploaded_files_area" style="display:none;"></ul>
				                            	</div>
				                        	</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">게시여부<span class="fa fa-asterisk nesessary"></span></th>
                                        <td class="form-inline">
									        <table class="table-responsive" style="margin:0; border-top:0px">
									            <tr>
									                <td>
									                    <div class="form-inline" style="margin:0;">
									                    	<label class="radio-inline"><input type="radio" id="_display_y" name="_display_yn" value="Y" checked="checked" onclick="checkDisplayYn(this)" /> 게시</label>
									                    	<label class="radio-inline"><input type="radio" id="_display_n" name="_display_yn" value="N" onclick="checkDisplayYn(this)" /> 미게시</label>
															<input type="hidden" id="displayYn" name="displayYn" value="" />

															&nbsp;&nbsp;&nbsp;
									                    	<label class="checkbox-inline"><input type="checkbox" id="_reserv_yn" name="_reserv_yn" onclick="changePushStatus(this);" /> 예약등록</label>
															<input type="hidden" id="reservYn" name="reservYn" value="" />
															&nbsp;

									                        <div id="startDateWrap" class="input-group faqStartDate disabled">
									                        	<input type="hidden" id="openDate" name="openDate" value="" />
									                            <input data-format="yyyy-MM-dd" type="text" class="form-control datepicker" id="_reserv_date" name="_reserv_date" value="" placeholder="YYYY-MM-DD" />
									                            <span class="input-group-addon">
									                                <span class="glyphicon glyphicon-calendar"></span>
									                            </span>

										                        <select id="_reserv_time" name="_reserv_time" class="form-control">
										                        	<option value="">선택</option>
																	<option value="00:00">00:00</option>
																	<option value="01:00">01:00</option>
																	<option value="02:00">02:00</option>
																	<option value="03:00">03:00</option>
																	<option value="04:00">04:00</option>
																	<option value="05:00">05:00</option>
																	<option value="06:00">06:00</option>
																	<option value="07:00">07:00</option>
																	<option value="08:00">08:00</option>
																	<option value="09:00">09:00</option>
																	<option value="10:00">10:00</option>
																	<option value="11:00">11:00</option>
																	<option value="12:00">12:00</option>
																	<option value="13:00">13:00</option>
																	<option value="14:00">14:00</option>
																	<option value="15:00">15:00</option>
																	<option value="16:00">16:00</option>
																	<option value="17:00">17:00</option>
																	<option value="18:00">18:00</option>
																	<option value="19:00">19:00</option>
																	<option value="20:00">20:00</option>
																	<option value="21:00">21:00</option>
																	<option value="22:00">22:00</option>
																	<option value="23:00">23:00</option>
										                        </select>
									                        </div>
									                    </div>
									                </td>
									            </tr>
									        </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="noticeSignupbox" style="margin:20px 0 0 0">
                            <div class="noticeSignupRight" style="float:right;">
								<!--<input type="button" class="btn btn-outline btn-info noticeSignupBtn" value="미리보기" onclick="checkReg('preview')" />-->
                                <input type="button" class="btn btn-outline btn-info noticeSignupBtn" id="noticeSignupBtn" value="취소" name="noticeSignupBtn" data-toggle="modal" data-target="#cancelModal" />
                                <input type="button" class="btn btn-outline btn-info noticeCancleBtn" id="noticeCancleBtn" value="적용" name="noticeCancleBtn" onclick="checkReg()" />
                            </div>
                        </div>
						<!-- 모달 영역 -->
						<div th:replace="v2/group-admin/board/board-modal :: board-modal"></div>
					</div>
                </form>
            </div>
        </div>
    </div>

<script th:inline="javascript">
/*<![CDATA[*/

(function() {
    'use strict';

    CKEDITOR.replace('content', {
        extraPlugins: 'youtube,image2,uploadimage',

        removePlugins: 'save,newpage,preview,print,templates,find,selectall,forms,div,justify,bidi,indentblock,flash,smiley,' +
        'pagebreak,iframe,colorbutton,font,image',

        // The toolbar groups arrangement, optimized for two toolbar rows.
        toolbarGroups: [
            { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
            { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
            { name: 'links' },
            { name: 'insert' },
            { name: 'forms' },
            { name: 'tools' },
            { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
            { name: 'others' },
            '/',
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
            { name: 'styles' },
            { name: 'colors', groups: [ 'colors' ] },
            { name: 'about' }
        ],

        // Remove some buttons provided by the standard plugins, which are
        // not needed in the Standard(s) toolbar.
        removeButtons: 'Underline,Subscript,Superscript,Copy,Cut,Paste,PasteText,PasteFromWord',

        uploadUrl: '/api/common/editor/image/temp/upload',

        filebrowserImageUploadUrl: '/api/common/editor/image/temp/dialog-upload',

        // Set the most common block elements.
        format_tags: 'p;h1;h2;h3;pre',

        // Simplify the dialog windows.
        removeDialogTabs: 'link:advanced',

        height: 400,

        // Load the default contents.css file plus customizations for this sample.
        contentsCss: [ CKEDITOR.basePath + 'contents.css', '/ckeditor/contents.css' ],

        stylesSet: [
            { name: 'Narrow image', type: 'widget', widget: 'image', attributes: { 'class': 'image-narrow' } }
        ],

        // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
        // resizer (because image size is controlled by widget styles or the image takes maximum
        // 100% of the editor width).
		image2_alignClasses: [ 'image-align-left', 'image-align-center', 'image-align-right' ],
		image2_disableResizer: true
    });

    CKEDITOR.on('dialogDefinition', function(ev) {
        var dialogName = ev.data.name;
        var dialogDefinition = ev.data.definition;

        switch (dialogName) {
            case 'image2': // Image Properties dialog
                // dialogDefinition.removeContents('info');
                dialogDefinition.removeContents('link');
                dialogDefinition.removeContents('advanced');
                break;
        }
    });
})();

/**
 * 모달창을 닫고 포커스
 */
function closeModalAfterFocus(elementId, canFocus) {
	if (!canFocus) {
		canFocus = true;
	}

	$("#" + elementId + "CheckModal").modal("hide");

	if (!canFocus) {
		return;
	}

	if (CKEDITOR && "content" == elementId) {
		CKEDITOR.instances.content.focus();
		return;
	}

	$("#" + elementId).focus();
}

/**
 * 등록 유효성 체크
 */
function checkReg(gubun) {
    var title = $('#title').val();
    title = title.replace(/^\s*/, "");

    var contentData = CKEDITOR.instances.content.getData();

    if (!title) {
        $('#titleCheckModal').modal('show');
        return;
    }
    if (!contentData) {
    	$('#contentCheckModal').modal('show');
    	return;
    }

    // 게시(노출)여부 선택
    if ($("#_display_y").prop("checked")) {
    	$("#displayYn").val("Y");
    }
    if ($("#_display_n").prop("checked")) {
    	$("#displayYn").val("N");
    }

    // 예약 푸시발송 선택
    if ($("#_push_status_reserv").prop("checked")) {
    	$("#pushStatus").val("reserv");
    	$("#displayYn").val("N");
    	$("#reservYn").val("Y");
    	$("#_reserv_yn").prop("checked", true);
    }
    // 즉시 푸시발송 선택
    if ($("#_push_status_instant").prop("checked")) {
    	$("#pushStatus").val("instant");
    	$("#displayYn").val("Y");
    	$("#reservYn").val("N");
    	$("#_reserv_yn").prop("checked", false);
    	$("#openDate").val("");
    }
    // 예약여부 선택
    if ($("#_reserv_yn").prop("checked")) {
        if (!$("#openDate").val()) {
        	$('#_reserv_dateCheckModal').modal('show');
        	return;
        }

    	if (!$("#_reserv_time").val()) {
    		$("#_reserv_time").val("00:00");
    	}

    	var reservDate = removeSpecialChars($("#_reserv_date").val());
    	var reservTime = removeSpecialChars($("#_reserv_time").val());
    	var openDate = reservDate + reservTime;

    	var nowDate = new Date().format("yyyyMMddHHmm");

		if (parseInt(openDate, 10) < parseInt(nowDate, 10)) {
        	$('#_reserv_dateCheckModal').modal('show');
        	return;
		}

    	$("#reservYn").val("Y");
    	$("#openDate").val(openDate);
    }

	if ("preview" === gubun) {
        putPreviewData();
        $('#previewModal').modal('show');
	}
	else {
        $('#writeModal').modal('show');
	}
}

/**
 * 게시글 등록
 */
function regPost() {
    disabledButton();
    $("form").submit();
}

/**
 * 미리보기(현재 미사용)
 */
function putPreviewData() {
	// var content = $("#content").val();
	var title = $("#title").val();
	$("#previewTitle").text(title);
	$("#previewContent").html(CKEDITOR.instances.content.getData().replace(/\n/g, ''));
	$("#_preview_regDate").text(new Date().yyyymmdd());
}

/**
 * [예] 버튼이 한번만 클릭되도록 비활성화
 */
function disabledButton() {
    $('#writeModal').find('button').each(function () {
        $(this).attr('disabled', true);
    });
}

/**
 * 예약 푸시발송 / 즉시 푸시발송 체크 시 예약 여부
 */
function changeReservYn(el) {
	var $this = $(el);
	// alert($this.val());

	if ($this.val() == "reserv") {
		$("#_display_y").prop("checked", false);
		$("#_display_n").prop("checked", true);
		$("#_reserv_yn").prop("checked", true);
		$("#_reserv_date").prop("disabled", false);
		$("#_reserv_time").prop("disabled", false);
	}
	else {
		$("#_display_y").prop("checked", true);
		$("#_display_n").prop("checked", false);
		$("#_reserv_yn").prop("checked", false);
		$("#_reserv_date").prop("disabled", true);
		$("#_reserv_time").prop("disabled", true);
	}
}
/**
 * 예약등록 체크 시 예약 푸시발송 / 즉시 푸시발송 체크 여부
 */
function changePushStatus(el) {
	var $this = $(el);
	// alert($this.val());

	if ($this.prop("checked")) {
		$("#_push_status_instant").prop("checked", false);
		$("#_display_y").prop("checked", false);
		$("#_display_n").prop("checked", true);
		$("#_reserv_yn").prop("checked", true);
		$("#_reserv_date").prop("disabled", false);
		$("#_reserv_time").prop("disabled", false);
	}
	else {
		$("#_push_status_reserv").prop("checked", false);
		$("#_display_y").prop("checked", true);
		$("#_display_n").prop("checked", false);
		$("#_reserv_yn").prop("checked", false);
		$("#_reserv_date").prop("disabled", true);
		$("#_reserv_time").prop("disabled", true);
	}
}
/**
 * 게시/미게시 체크시
 */
function checkDisplayYn(el) {
	var $this = $(el);

	if ($this.val() == "Y") {
		$("#_push_status_reserv").prop("checked", false);
		$("#_reserv_yn").prop("checked", false);
		$("#_reserv_date").prop("disabled", true);
		$("#_reserv_time").prop("disabled", true);
	}
	else {
		$("#_push_status_instant").prop("checked", false);
		// $("#_reserv_yn").prop("checked", true);
		// $("#_reserv_date").prop("disabled", false);
		// $("#_reserv_time").prop("disabled", false);
	}
}

/**
 * 파일 업로드
 */
function uploadFile(el) {
	var $badge = $(".badge");
	var uploadedFileCount = parseInt($badge.text(), 10);

	if (uploadedFileCount >= 3) {
		alert(" 파일 첨부는 3개까지 가능합니다! ");
		return;
	}

	var $this = $(el);
	$("#file_route1").val($this.val());

	var browserVersion = getBrowserVersion();
	// alert(getBrowserVersion());

	var $progress = $(".progress");
	var $progressBar = $(".progress-bar");

	// $progress.show();

    // ajaxSubmit Option
    var options = {
        beforeSubmit : function() {
            var percentVal = "0%";
            $progressBar.css("width", percentVal);
            $progressBar.text(percentVal);

            $("#_ul_uploaded_files_area").show();
        }
	    , uploadProgress: function(event, position, total, percentComplete) {
	    	if (browserVersion > 9) {
		        var percentVal = percentComplete + '%';
	            $progressBar.css("width", percentVal);
	            $progressBar.text(percentVal);
	    	}
	    }
        , success : function(fileInfoJson, statusText, xhr, $form) {
        	if ("success" != statusText) {
        		alert(" 파일 업로드에 실패하였습니다! ");
        		return;
        	}

			var fileSize = fileInfoJson.size;
			var fileSizeCheck = fileSize / 1024;

			if (fileSizeCheck > 5) {
				alert(" 5MB 이하의 파일만 업로드 가능합니다. ");
				return;
			}

        	var filePath = fileInfoJson.filePath;
			var fileName = fileInfoJson.fileName;
			var fileOriginName = fileInfoJson.fileOriginName;
			var fileExt = fileInfoJson.ext;

        	uploadedFileCount++;

        	var tempHtml = $("#_ul_uploaded_files_area").html();
			tempHtml += "<li style=\"padding-top:5px;\">";
			/**
			tempHtml += "<span id=\"_span_file_name" + uploadedFileCount "\">" + fileName + "</span>";
			tempHtml += "<span id=\"_span_file_size" + uploadedFileCount + "\">(사이즈)</span>";
			*/
			tempHtml += "<span>" + fileOriginName + "</span> ";
			tempHtml += "<span>(" + numberWithCommas(fileSize) + "KB)</span> &nbsp; ";
			tempHtml += "<button type=\"button\" class=\"btn btn-xs btn-danger\" onclick=\"deleteUploadedTempFile(this);\">삭제</button>";
			tempHtml += "<input type=\"hidden\" id=\"uploadedFile" + uploadedFileCount + "\" name=\"uploadedFiles[" + (uploadedFileCount-1) + "]\" value=\"" + filePath + "/" + fileName + "\" />";
			tempHtml += "</li>";

        	$("#_ul_uploaded_files_area").html(tempHtml);

        	$badge.text(uploadedFileCount);
        }
        , error : function(e) {
        	// alert(e);
        }
        , complete : function(xhr) {
        	// alert(xhr.responseText);
        	$progress.hide();
        }
        , dataType : "json" // 응답타입 json이 아니라 text(IE9에서 JSON 데이타를 다운로드함)
        , url : "/v2/board/common/file/temp/upload"
        // , target : ""
        // , resetForm : false
    };

	var orgAction = $("form").attr("action");
    $("form").ajaxSubmit(options);
	$("form").attr("action", orgAction);
	$("#file_route1").clearFields();
}
/**
 * 임시 업로드 파일 삭제(화면상에서)
 */
function deleteUploadedTempFile(el) {
	var $this = $(el);
	var $parentNode = $this.parent();

	$parentNode.remove();

	var $badge = $(".badge");
	var uploadedFileCount = parseInt($badge.text(), 10);
	uploadedFileCount--;

	$badge.text(uploadedFileCount);

	if (uploadedFileCount == 0) {
        $("#_ul_uploaded_files_area").hide();
	}
}

$(document).ready(function() {
	$(".progress").hide();
	$("#_reserv_yn").prop("checked", false);
	$("#_reserv_date").prop("disabled", true);
	$("#_reserv_time").prop("disabled", true);

	$("#startDateWrap").datetimepicker({
        format : "YYYY-MM-DD",
        useCurrent: false
    });

	$("#_reserv_date").on("blur", function(e) {
	    // alert($(this).val());
	});
});

/*]]>*/
</script>
</div>

</body>
</html>
