<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link type="text/css" rel="stylesheet" href="../../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/font-awesome/css/font-awesome.css"
          th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/multiselect/css/multi-select.css"
          th:href="@{/multiselect/css/multi-select.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/css/bootstrap-datetimepicker.css"
          th:href="@{/css/bootstrap-datetimepicker.css}"/>
    <link type="text/css" rel="stylesheet" href="../../../static/sbgrid/sbGrid/js/kr/co/softbowl/css/Sbgrid_default.css" th:href="@{/sbgrid/sbGrid/js/kr/co/softbowl/css/Sbgrid_default.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

	    body,div,a,ul,li,img,h1,h2,h3,h4,p,address,span,dl,dt,dd,form,
	    fieldset,legend,label,input,table,tr,td,thead,tbody,caption,colgroup{
	        padding:0; 
	        margin:0;
	    }
	    
	    header,footer,section,aside,article,time,nav,figure,figcaption,video{
	        display:block;
	    }
	    
	    body,
	    input{
	        font-size:12px; 
	        color:#333;
	        font-family:Malgun Gothic,dotum, Arial, Helvetica, sans-serif;
	    }
	    
	    .defaultPopup{
	        border:1px solid #c3c3c3;
	        margin:0 auto;
	        padding:0px 15px 0px 15px;
	        vertical-align:middle;
	        background:#FFFFFF;
	    }

        .apAddBtnBox {
            text-align:left;
            margin : 10px 0 10px 0;
        }

        .bottomBtnBox {
            text-align:right;
            margin-top:10px;
            margin-bottom:10px;
        }
        
        ._addTable {
            width:100%;
        }
        ._addTable tr{
            height : 40px;
            border-bottom: 1px solid #EAEAEA;
        }
        
        ._addTable th{
            font-weight: bold;
            width: 140px;
        }
        
         ._addTable td{
            width: 260px;
        }
        
        input[type=text], select {
            height:30px;
        }

    </style>

    <title>출입문 AP 등록 관리</title>
</head>

<body>

    <div class="defaultPopup">
	    <h4 class="page-header">출입문 AP 등록</h4>
	
	    <div role="tabpanel">
	        <ul class="nav nav-tabs" role="tablist" id="myTab" style="margin-bottom: 20px;border-bottom: 1px solid #e5e5e5;">
	            <li role="presentation" class="active"><a href="#single-add" aria-controls="single-add" role="tab" data-toggle="tab" onclick="selectedTab(1)">개별 등록</a></li>
	            <li role="presentation"><a href="#batch-add" aria-controls="batch-add" role="tab" data-toggle="tab" onclick="selectedTab(2)">일괄 등록</a></li>
	        </ul>
	
	        <div class="tab-content">
	        
	            <div role="tabpanel" class="tab-pane active" id="single-add">
	            
					<table class="table-responsive _addTable">
					    <tr>
                            <th>아파트</th>
                            <td class="form-inline" colspan="3">
                                <input type="hidden" name="aptId" id="aptId" />
                                <input type="hidden" name="aptNm" id="aptNm" />
                                <input type="text" class="form-control" id="aptAddressNm" name="aptAddressNm" readonly="readonly" style="width:600px;" />
                                <input type="button" class="btn btn-info btn-sm" id="selectAptBtn" value="아파트검색" name="selectAptBtn" onclick="selectAptPopup()"/>
                            </td>
                        </tr>
					    <tr>
						    <th>AP UUID</th>
						    <td class="form-inline">
						        <input type="text" class="form-control" name="apUuid" id="apUuid" maxlength="50" style="width:400px;" />
						    </td>
						    <th>AP BEACON UUID</th>
                            <td class="form-inline">
                                <input type="text" class="form-control" id="apBeaconUuid" name="apBeaconUuid" maxlength="50" style="width:400px;" />
                            </td>
						</tr>
                        <tr>
                            <th>AP BEACON MAJOR</th>
                            <td class="form-inline">
                                <input type="text" class="form-control" id="apBeaconMajor" name="apBeaconMajor" maxlength="50" style="width:250px;" />
                            </td>
                            <th>AP BEACON MINOR</th>
                            <td class="form-inline">
                                <input type="text" class="form-control" id="apBeaconMinor" name="apBeaconMinor" maxlength="50" style="width:250px;" />
                            </td>
                        </tr>
					    <tr>
	                        <th>AP ID</th>
	                        <td class="form-inline">
	                            <input type="text" class="form-control" id="apId" name="apId" maxlength="50" style="width:250px;" />
	                        </td>
	                        <th>AP 이름</th>
                            <td class="form-inline">
                                <input type="text" class="form-control" id="apName" name="apName" maxlength="250" style="width:250px;" />
                            </td>
	                    </tr>
                        <tr>
                            <th>동작방식</th>
                            <td class="form-inline">
                                <select name="operationMode" id="operationMode" class="form-control" style="height:31px;">
                                    <option th:each="item : ${operationModeList}" th:value="${item.code}" th:text="${item.name}" ></option>
                                </select>
                            </td>
                            <th>감도 (rssi) App</th>
                            <td class="form-inline">
                                <select class="form-control" id="rssiApp" name="rssiApp" style="height:30px;">
                                    <option value=""></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>AP Password</th>
                            <td class="form-inline">
                                <input type="text" class="form-control" id="apPassword" name="apPassword" maxlength="100" style="width:250px;" />
                                <input type="button" class="btn btn-sm btn-warning" id="saveDetailBtn" value="갱신" name="saveDetailBtn" onclick="randomPassword('apPassword')"/>
                            </td>
                            <th>SSH Password</th>
                            <td class="form-inline">
                                <input type="text" class="form-control" id="sshPassword" name="sshPassword" maxlength="100" style="width:250px;" />
                                <input type="button" class="btn btn-sm btn-warning" id="saveDetailBtn" value="갱신" name="saveDetailBtn" onclick="randomPassword('sshPassword')"/>
                            </td>
                        </tr>
	                    <tr>
	                        <th>WIFI MAC</th>
                            <td class="form-inline">
                                <input type="text" class="form-control" id="wifiMac" name="wifiMac" maxlength="100" style="width:250px;" />
                            </td>
                            <th>간편출입권한</th>
                            <td class="form-inline">
                                <label th:each="item : ${skipAuthList}" ><input type="checkbox" name="skipAuth" th:value="${item.value}" /><span th:text="${item.value}"></span></label>
                            </td>
                        </tr>
                        <tr>
                            <th>MEMO</th>
                            <td class="form-inline" colspan="3">
                                <textarea class="form-control" name="memo" id="memo" rows="3" cols="70"></textarea>
                            </td>
                        </tr>
	                </table>
	                <div class="apAddBtnBox">
	                    <input type="button" class="btn btn-sm btn-primary" id="addBtn" value="추가" name="addBtn" onclick="addData()"/>
	                    <input type="button" class="btn btn-sm btn-primary" id="deleteBtn" value="삭제" name="deleteBtn" onclick="deleteData()"/>
	                </div>
	                
	                <div class="sbGridArea" id="sbGridArea"></div>
	                
	            </div>
	            
	            <div role="tabpanel" class="tab-pane" id="batch-add">
	             <form name="fileFrm" id="fileFrm" enctype="multipart/form-data" method="post">
	             <table class="table table-responsive">
	                    <tr>
	                        <td>
	                            <input type="text" class="form-control" id="fileTextbox" name="fileTextbox" style="float:left;width:300px;" readonly="readonly" />
	                      <div style="position:relative;width:80px;height:29px;display:inline-block;margin-left:5px;">
	                          <input type="button" class="btn btn-success" value="파일찾기" style="width:90px;position:absolute;top:0px;left:5px;"/>
	                          <input type="file" name="csvFile" class="form-control" id="csvFile" onchange="javascript:document.getElementById('fileTextbox').value=this.value" style="width:70px;left:5px; position:absolute;right:0px;top:0px;opacity:0;  .filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)'; -khtml-opactiy:0; -moz-opacity:0;"/>
	                      </div>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            csv 파일을 통해 출입문 AP일괄 등록이 가능합니다.<br />
	                            양식 다운로드 : <a href="/jaha/apt/ap/sampleCsvFileDown" >sample.csv</a>
	                        </td>
	                    </tr>
	                </table>
	                </form>
	            </div>
	            
	        </div>
	        
	    </div>
	    <div class="bottomBtnBox">
	        <input type="button" class="btn btn-info sc_asSignup" id="sc_asSignup" value="저장" name="sc_asSignup" onclick="save()"/>
	        <input type="button" class="btn btn-info sc_asSignup" id="cancelBtn" value="취소" name="cancelBtn" onclick="closePopup()"/>
	    </div>
    </div>

<form name="frm" id="frm" method="post"></form>

<script src="../../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../../static/js/metisMenu/metisMenu.js" th:src="@{/js/metisMenu/metisMenu.js}"></script>
<script src="../../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
<script src="../../../static/js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
<script src="../../../static/js/bootstrap-datetimepicker.min.js" th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<script src="../../../static/js/common.js" th:src="@{/js/common.js}"></script>

<script src="../../static/sbgrid/js/XRegExp.js" type="text/javascript" th:src="@{/sbgrid/js/XRegExp.js}"></script>
<!-- SBGrid 종속 Library -->
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json-minified.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json-minified.js}"></script>
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json2.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json2.js}"></script>
<!-- SBGrid  -->
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/SBGrid.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/SBGrid.js}"></script>
<!--Paging-->
<script type="text/javascript" src="../../static/sbgrid/sbGrid/js/common/sbGrid_common.js" th:src="@{/sbgrid/sbGrid/js/common/sbGrid_common.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var datagrid;
    var gridJsonData;

    $(function(){
        // sbGrid root 경로 설정.
        try{
            SBGrid.DEF.DOMAIN = "/sbgrid/sbGrid/js/";
        }catch(e){}
    });
    

    $(document).ready(function(){
    	gridJsonData = new Array();
    	createDataGrid();
    	
    	var _save = /*[[${csvFileSave}]]*/ '-1';
    	if(_save == 1){
            saveMessage("저장되었습니다.");
        } else if(_save == 2){
            saveMessage("중복항목이 있어서 제외하고 저장되었습니다.");
        } else if(_save == 0) {
            alert("저장된 항목이 없습니다.");
        }
        
        $("#apId").keyup(function(event){
            $(this).val($(this).val().replace(/[^_a-z0-9]/gi,''));//영어, 숫자만 가능
        });
        
        $("#apPassword, #sshPassword").keyup(function(event){
            $(this).val($(this).val().replace(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/gi,''));//한글만 제한
        });
        
        for(var i = -40 ; i >= -120 ; i--){
            $("<option value='"+i+"'>"+i+"</option>").appendTo("#rssiApp");    
        }
        
    });
    
    function createDataGrid(){
        var strCaption, 
            strWidth,
            gridAttr, 
            objJson;
    
        strCaption = "^아파트^AP UUID^AP BEACON UUID^AP ID^AP 이름^간편출입권한";
        strWidth = "3%,15%,28%,15%,15%,15%,9%";
        
        gridAttr = {
            "strParentId"                   : 'sbGridArea',
            "strId"                         : 'datagrid',
            "strCaption"                    : strCaption,
            "strColWidth"                   : strWidth,
            "strJsonRef"                    : "gridJsonData",
            "strStyle"                      : "width:100%; height:200px; font-family:dotum, arial; font-size:14px;",
            "strExplorerbar"            : "sortshowmove",
            "strRowHeight"              : "50px",
            "strDataHeight"              : "38px",
            "strFocusColor"         :   "#E8E8E8",
            "strSelectFontColorStyle":  "none",
            "fixedcol"                       :"1",
            "bUseMultiSorting"       : false,
            "bDataSearching"             : true,
            "bDragMode" : false,
            "bIsShowLoadingImage"   :   true,
            "strToolTip"        :   "true",
            "strExtendLastCol"       : "scroll"
            };
    
        datagrid = createSBDataGrid(gridAttr);
        
        objJson = [
                     {"id" : "checkbox" , "type" : "checkbox" , "ref" : "_chk" , "style":"text-align:center;"},
                     {"id" : "aptNm" , "type" : "output" , "ref" : "aptNm" , "style":"text-align:center;"},
                     {"id" : "apUuid" , "type" : "output" , "ref" : "apUuid" , "style":"text-align:center;"},
                     {"id" : "apBeaconUuid" , "type" : "output" , "ref" : "apBeaconUuid" , "style":"text-align:center;"},
                     {"id" : "apId" , "type" : "output" , "ref" : "apId" , "style":"text-align:center;"},
                     {"id" : "apName" , "type" : "output" , "ref" : "apName" , "style":"text-align:center;"},
                     {"id" : "skipAuth" , "type" : "output" , "ref" : "skipAuth" , "style":"text-align:center;"},
                     {"id" : "aptId" , "type" : "output" , "ref" : "aptId" , "style":"text-align:center;"}
                  ];
                  
        datagrid.createColumns(objJson);
        
        datagrid.setColHidden(datagrid.getColRef("aptId"), true);
        
        datagrid.setFixedcellcheckbox(0, 0, true);
        
    }
    
    function validationForm(){
    	
    	if($("#aptId").val() == ""){
            alert("아파트를 선택해주세요.");
            return false;
        } else if($("#apUuid").val() == ""){
            alert("AP UUID를 입력해주세요.");
            $("#apUuid").focus();
            return false;
        } else if($("#apBeaconUuid").val() == ""){
            alert("AP BEACON UUID를 입력해주세요.");
            $("#apBeaconUuid").focus();
            return false;
        } else if($("#apId").val() == ""){
            alert("AP ID를 입력해주세요.");
            $("#apId").focus();
            return false;
        } 
        
    	/**
        else if($("#apName").val() == ""){
            alert("AP 이름을 입력해주세요.");
            $("#apName").focus();
            return false;
        } else if($("#apPassword").val() == ""){
            alert("AP Password를 입력해주세요.");
            $("#apPassword").focus();
            return false;
        }
    	**/
    	
    	return true;
    	
    }
    
    function addData(){
    	
    	if(validationForm() == false){
    		return;
    	}
    	
    	var duplicate = false;
    	for(var i=0;i<gridJsonData.length;i++){
            var rowData = gridJsonData[i];
            if(rowData.apBeaconUuid == $("#apBeaconUuid").val()){
                duplicate = true;
                break;
            }
        }
        
        if(duplicate == true){
            alert("AP BEACON UUID는 중복입력 할 수 없습니다.");
            return;
        }
        
        duplicate = false;
    	for(var i=0;i<gridJsonData.length;i++){
    		var rowData = gridJsonData[i];
    		if(rowData.apId == $("#apId").val()){
    			duplicate = true;
    			break;
    		}
    	}
    	
    	if(duplicate == true){
    		alert("AP ID는 중복입력 할 수 없습니다.");
    		return;
    	}
    	
    	/*
    	datagrid.insertRow(0, 'below');//첫번째 row에 입력 
    	gridJsonData[0]._chk = "false";
    	gridJsonData[0].apUuid = $("#apUuid").val();
    	gridJsonData[0].apId = $("#apId").val();
    	gridJsonData[0].apName = $("#apName").val();
    	gridJsonData[0].apPassword = $("#apPassword").val();
    	*/
    	
    	datagrid.addRow();
        var idx = datagrid.getRow();
        
        var tempData = {};
        tempData._chk = "false";
        tempData.aptId = $("#aptId").val();
        tempData.aptNm = $("#aptNm").val();
        tempData.apUuid = $("#apUuid").val();
        tempData.apBeaconUuid = $("#apBeaconUuid").val();
        tempData.apBeaconMajor = $("#apBeaconMajor").val();
        tempData.apBeaconMinor = $("#apBeaconMinor").val();
        tempData.apId = $("#apId").val();
        tempData.apName = $("#apName").val();
        tempData.apPassword = $("#apPassword").val();
        tempData.sshPassword = $("#sshPassword").val();
        tempData.rssiApp = $("#rssiApp").val();
        tempData.operationMode = $("#operationMode").val();
        tempData.wifiMac = $("#wifiMac").val();
        tempData.memo = $("#memo").val();
        
        var skipAuthText = "";
        $("input[name=skipAuth]:checked").each(function(idx){
        	skipAuthText += idx == 0 ? $(this).val() : ","+$(this).val();
        });
        tempData.skipAuth = skipAuthText;
        
        datagrid.setRowData(idx, tempData, true);
    	
    	datagrid.rebuild();
    	datagrid.setTopRow(gridJsonData.length);// scroll을 가장 아래로
    	
    }
    
    function deleteData(){
    	if(gridJsonData != null && gridJsonData.length > 0){
    		for(var i=gridJsonData.length-1;i>=0;i--){
    			var rowData = gridJsonData[i];
    			if(rowData._chk == "true"){
    				gridJsonData.splice(i,1);
    			}
            } 
    		datagrid.rebuild();
    	}
    }
    
    function closePopup(){
    	self.close();
    }
    
    var tabIdx = 1;
    function selectedTab(idx){
    	tabIdx = idx;
    }
    
    function save(){
    	
    	if(confirm("저장하시겠습니까?")){
    		
    		if(tabIdx == 1){
    			
    			if(gridJsonData.length < 1){
    				alert("추가된 항목이 없습니다.");
    				return;
    			}
    			
    			$.ajax({
                    url: '/jaha/apt/ap/save',
                    type: 'post',
                    async : false,
                    dataType: "html",
                    traditional: true , // parameter 직렬화를 느슨하게 처리.
                    data: {
                        "jsonParam" : JSON.stringify(gridJsonData)
                    },
                    success: function(data) {
                        if(data == 1){
                        	saveMessage("저장되었습니다.");
                        } else if(data == 2){
                        	saveMessage("중복항목이 있어서 제외하고 저장되었습니다.");
                        } else {
                        	alert("저장된 항목이 없습니다.");
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("error : save ajax fail !! ");
                    }
                }); 
            } else if(tabIdx == 2) {
            	
            	if($("#csvFile").val() != ""){
            		var lastIdx = $("#csvFile").val().lastIndexOf("."); 
            		var ext = $("#csvFile").val().substring(lastIdx+1);
            		if(ext == "csv"){
            			$("#fileFrm").prop("action", "/jaha/apt/ap/save-csv");
                        $("#fileFrm").submit();            			
            		} else {
            			alert("csv파일만 등록가능합니다.\n양식을 다운로드하여 진행해주세요.");
            		}
            	}
            	
            }
            
        }
    }
    
    function saveMessage(msg){
    	alert(msg);
        try{ opener.SBGrid_pagingInit(); }catch(e){}
        closePopup();
    }
    
    function randomPassword(id){
        var characterList = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";//ABCDEFGHIJKLMNOPQRSTUVWXYZ //#$%&!@
        var size = 12;
        var ranText = "";
        for(var i=0;i<size;i++){
            ranText += characterList.charAt(Math.floor(Math.random() * characterList.length));  
        }
        $("#"+id).val(ranText);
    }
    
    function selectAptPopup(){
    	gfnAptSearchPopup();
    }
    
    function _searchAptCallback(apt){
        $("#aptAddressNm").val(apt.aptAddressNm);
        $("#aptNm").val(apt.aptNm);
        $("#aptId").val(apt.aptId);
    }
      
    /*]]>*/
</script>

</body>
</html>
