<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link type="text/css" rel="stylesheet" href="../../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css"
      th:href="@{/font-awesome/css/font-awesome.css}"/>
<link type="text/css" rel="stylesheet" href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
<link type="text/css" rel="stylesheet" href="../../static/css/bootstrap-datetimepicker.css"
      th:href="@{/css/bootstrap-datetimepicker.css}"/>
<link type="text/css" rel="stylesheet" href="../../static/multiselect/css/multi-select.css"
      th:href="@{/multiselect/css/multi-select.css}"/>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<title>JAHA-Admin</title>

<script src="../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/metisMenu/metisMenu.js" th:src="@{/js/metisMenu/metisMenu.js}"></script>
<script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
<script src="../../static/js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
<script src="../../static/js/bootstrap-datetimepicker.js" th:src="@{/js/bootstrap-datetimepicker.js}"></script>

<!-- 그리드를 표시하기 위한 CSS -->
<link type="text/css" rel="stylesheet" href="../../../static/sbgrid/sbGrid/js/kr/co/softbowl/css/Sbgrid_default.css" th:href="@{/sbgrid/sbGrid/js/kr/co/softbowl/css/Sbgrid_default.css}"/>
<!--오류잡기-->
<script src="../../static/sbgrid/js/XRegExp.js" type="text/javascript" th:src="@{/sbgrid/js/XRegExp.js}"></script>
<!-- SBGrid 종속 Library -->
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json-minified.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json-minified.js}"></script>
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json2.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/js/Library/json2.js}"></script>
<!-- SBGrid  -->
<script src="../../static/sbgrid/sbGrid/js/kr/co/softbowl/SBGrid.js" type="text/javascript" th:src="@{/sbgrid/sbGrid/js/kr/co/softbowl/SBGrid.js}"></script>
<!--Paging-->
<script type="text/javascript" src="../../static/sbgrid/sbGrid/js/common/sbGrid_common.js" th:src="@{/sbgrid/sbGrid/js/common/sbGrid_common.js}"></script>

<script type="text/javascript">
/*<![CDATA[*/
    var datagrid;
    
    $(function(){
        // sbGrid root 경로 설정.
        try{
            SBGrid.DEF.DOMAIN = "/sbgrid/sbGrid/js/";
        }catch(e){}
    });
                
    $(document).ready(function(){
    	
    	$('#startDateWrap, #endDateWrap').datetimepicker({  
            format : "YYYY-MM-DD",
            useCurrent: false 
        });
        $("#startDateWrap").on("dp.change", function (e) {
            $('#endDateWrap').data("DateTimePicker").minDate(e.date);
        });
        $("#endDateWrap").on("dp.change", function (e) {
            $('#startDateWrap').data("DateTimePicker").maxDate(e.date);
        });
        
        $("#addBtn").bind("click", function(){
        	location.href = "/jaha/notice/form";	
        });
        
        $("#searchBtn").bind("click", function(){
        	SBGrid_pagingInit(0);
        });
        
        $("#resetBtn").bind("click", function(){
        	$("#startDate").val("");
            $("#endDate").val("");
        	$("#type").val("");
            $("#searchItem option:first").prop("selected", true);
            $("#searchKeyWord").val("");
        });
        
        SBGrid_pagingInit(0);
    });
    
    function createDataGrid(){
        var gridAttr, 
            objJson;

	    gridAttr = {
	        "strParentId"                           : 'noticeGridArea',
	        "strId"                                 : 'datagrid',
	        "strCaption"                            : "번호^구분^서비스 노출^제목^게시^등록자^등록일",
	        "strColWidth"                           :  "5%,10%,10%,40%,10%,10%,15%",
	        "strJsonRef"                            : "gridJsonData",
	        "strStyle"                              : "width:100%; height:503px; font-family:dotum, arial; font-size:14px;",
	        "strExplorerbar"                    : "sortshow",
	        "strRowHeight"                      : "50px",
	        "strDataHeight"                     : "45px",
	        "strFocusColor"                 : "#E8E8E8",
	        "strSelectFontColorStyle"       : "none",
	        "fixedcol"                      : "1",
	        "bUseMultiSorting"              : true,
	        "bDataSearching"                    : true,
	        "bDragMode" : false,
	        "strExtendLastCol"              : "scroll",
	        "strOverflow"                           :"scroll",
	        "strEmptyRecords"   :   "조회결과가 없습니다."
	        };
	
	    datagrid= createSBDataGrid(gridAttr);
	
	    objJson = [
	                        {"id" : "_idx" , "type" : "output" , "ref" : "_idx" , "style":"text-align:center;"},
	                        {"id" : "typeName" , "type" : "output" , "ref" : "typeName" , "style":"text-align:center;"},
	                        {"id" : "viewServiceText" , "type" : "output" , "ref" : "viewServiceText" , "style":"text-align:center;"},
	                        {"id" : "title" , "type" : "output" , "ref" : "title" , "style":"text-align:center;"},
	                        {"id" : "statusName" , "type" : "output" , "ref" : "statusName" , "style":"text-align:center;"},
	                        {"id" : "regName" , "type" : "output" , "ref" : "regName" , "style":"text-align:center;"},
	                        {"id" : "regDateStr" , "type" : "output" , "ref" : "regDateStr" , "style":"text-align:center;"},
	                     ];               
	    datagrid.createColumns(objJson);        

    };

    var gridJsonData;
    function SBGrid_pagingInit(pageNumber){
        
        createDataGrid();
        
        var nCount,        //총건수
            nPageNum,      //현재 페이지번호
            nPageSize;      //페이지 사이즈
        
        //현제 페이지 구함
        if(pageNumber != null){
            nPageNum =  parseInt(pageNumber);
            if(nPageNum < 1) {
                nPageNum = 1;
            }
        }else{
            nPageNum = 1;
        }
    
        datagrid.showWait(true);
        
        //페이지당 레코드 갯수 설정
        nPageSize = 10;
        
        $.ajax({
            url: '/jaha/notice/list-data',
            type: 'post',
            async : false,
            dataType: "json",
            data: {
                "pageNum": nPageNum,
                "pageSize": nPageSize,
                "startDate": $("#startDate").val(),
                "endDate": $("#endDate").val(),
                "type": $("#type").val(),
                "searchItem": $("#searchItem").val(),
                "searchKeyWord": $("#searchKeyWord").val()
            },
            success: function(jsonData) {
                //var jo = JSON.parse(data);
                gridJsonData = jsonData.dataList;
                nCount = jsonData.totalCount;
                $("#totalCountText").text("총 "+nCount+"건이 검색되었습니다.");
                
                gfnSetGridPagingIndex(gridJsonData, nPageNum, nPageSize, nCount, "DESC");// 그리드 순번
                
                datagrid.rebuild();
            },
            error: function(xhr, status, error) {
                alert("error : notice list data fail");
            }
        });
        
        datagrid.showWait(false);
        
        //ajax를 sync로 해놔서 순차적실행됨. style등은 datagrid가 rebuild되면 초기화되어서 rebuild후에 설정.
        datagrid.addEventListener("onclick","rowClick","","");
        
        datagrid.setColStyles(datagrid.getColRef("title"), "color:blue; text-decoration: underline; cursor:pointer;", "data");
        
        var rowSize = datagrid.getRows();
        for(var i=1;i<=rowSize;i++){
            //datagrid.setCellFormat(i, datagrid.getColRef("view_cnt"), "#,###");
        }
        
        gfnPagingRander("sbGridPaging", nPageNum, nPageSize, nCount);
    }
    
    function rowClick(){
        var rowData = datagrid.getRowData(datagrid.getRow());
        
        if(datagrid.getCol() == datagrid.getColRef("title")){
            location.href = "/jaha/notice/form?id="+rowData.id;
        } 
    }
    
 //]]>
 </script>
<style>

/*추가*/
    .noticeSearchBox{
        float:right;
    }
    .noticeSearchtxt{
        width:505px !important;
    }
    .noticeResultTxt{
        font-size:17px;
        font-weight:bold;
    }
    .noticeSignupBox{
        text-align:right;
        margin-bottom:40px;
    }
    .noticeStartDate,
    .noticeEndDate{
        width:290px;
    }
    .noticeSelect{
        width:585px;
    }

</style>
</head>

<body>

<div id="wrapper">           

    <div th:replace="admin/admin :: top-nav"></div>

    <div th:replace="admin/admin :: vert-nav-admin"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">공지사항</h1>

                <div id="content-container">
                    <form name="frm" id="frm" method="post" action="">
                        <div class="panel panel-info">
                            <div class="panel-heading" style="font-weight:900"></div>
                            <div class="panel-body">
                                <table class="table table-responsive" style="margin:0;">
                                    <tr>
                                        <th>기간</th>
                                        <td>
                                            <div class="form-inline">
                                                <div id="startDateWrap" class='input-group noticeStartDate'>
                                                    <input data-format="yyyy-MM-dd" type="text" class="form-control datepicker" id="startDate" name="startDate" placeholder="YYYY-MM-DD" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                <div id="endDateWrap" class='input-group noticeEndDate'>
                                                    <input data-format="yyyy-MM-dd" type="text" class="form-control datepicker" id="endDate" name="endDate" placeholder="YYYY-MM-DD" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>구분</th>
                                        <td>
                                            <select name="type" id="type" class="form-control noticeSelect" >
                                                <option value="">전체</option>
                                                <option value="" th:each="type : ${types}" th:value="${type.code}" th:text="${type.name}" ></option>
                                            </select>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <th>검색</th>
                                        <td class="form-inline">
                                            <select name="searchItem" id="searchItem" class="form-control">
                                                <option value="title">제목</option>
                                                <option value="content">내용</option>
                                            </select>
                                            <input type="text" class="form-control noticeSearchtxt" id="searchKeyWord" name="searchKeyWord" value="" placeholder="검색 키워드를 입력하세요."/>
                                            <span class="noticeSearchBox">
                                                <input type="button" class="btn btn-sm btn-outline btn-info noticeSearchBtn" id="searchBtn" name="noticeSearchBtn" value="검색" />
                                                <input type="button" class="btn btn-sm btn-outline btn-success noticeResetBtn" id="resetBtn" name="noticeResetBtn" value="초기화" />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <p class="noticeResultTxt" id="totalCountText">* 총 00건이 검색되었습니다.</p>
                        <div class="noticeGridArea" id="noticeGridArea"></div>
                        <div id="sbGridPaging" class="pagenate"></div>
            
                        <div class="noticeSignupBox">
                            <input type="button" class="btn btn-info noticeSignup" id="addBtn" value="등록" name="noticeSignup"/>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- page wrapper -->
</div>
<!-- /#wrapper -->

</body>
</html>