<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />

<link type="text/css" rel="stylesheet" href="../../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css"
      th:href="@{/font-awesome/css/font-awesome.css}"/>
<link type="text/css" rel="stylesheet" href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>

<script src="../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/metisMenu/metisMenu.js" th:src="@{/js/metisMenu/metisMenu.js}"></script>
<script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
<script src="../../static/js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
<script src="../../static/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>

<script src="../../static/ckeditor/ckeditor.js" th:src="@{/ckeditor/ckeditor.js}"></script>

<style>
    .newsRight{
        text-align:right;
        margin:5px 5px;
        vertical-align:middle
    }
    .nesessary{
        color:red;
        font-size:10px;
    }
    table th{
        width:20%;
    }
    .noticeSignupbox{
        margin-bottom:40px;
        overflow:hidden;
    }

    /*인풋파일*/

    .noticeFileTextbox{ 
        float:left;
        width:30%;
    }

    .noticeFileBox{
        position:relative;
        width:7%;
        height:29px;
        display:inline-block;
    }

    .noticeFileFakeBtn{
        width:80px;
        position:absolute;
        top:0px;
        margin-left:5px;
    }

    .noticeFileupload{
        font-size:45px; 
        position:absolute;
        right:0px;
        top:0px;
        opacity:0;
        .filter:alpha(opacity=0);
        -ms-filter:"alpha(opacity=0)";
        -khtml-opactiy:0;
        -moz-opacity:0;
    }

    .noticeFileLabel{
        display:none;
    }

    .noticeFileAddBtn{
        position:absolute;
        top:0px;
        left:90px;
    }


</style>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<title>Jaha admin</title>
</head>

<body>

<div id="wrapper">                <!-- /#wrapper -->

    <div th:replace="admin/admin :: top-nav"></div>

    <div th:replace="admin/admin :: vert-nav-admin"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">공지사항</h1>
                <div id="content-container">
                    <form enctype="multipart/form-data" method="post" name="noticeFrm" id="noticeFrm" >
                        <input type="hidden" name="id" th:value="${id}" />
                        <div class="panel-body">
                            <p class="newsRight"><span class="fa fa-asterisk nesessary" style="font-size:8px;"></span>필수 입력 항목 입니다.</p>
                            <div class="border-round" style="padding: 0; margin: 0 0 10px 0">
                                <table class="table table-responsive table" style="margin-bottom: 0">
                                    <tbody>
                                        <tr>
                                            <th>구분<span class="fa fa-asterisk nesessary"></span></th>
                                            <td class="form-inline">
                                               <select name="type" id="type" class="form-control">
                                                   <option value="" th:each="type : ${types}" th:value="${type.code}" th:text="${type.name}" ></option>
                                               </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>서비스 노출<span class="fa fa-asterisk nesessary"></span></th>
                                            <td>
                                                <input type="hidden" name="viewService" id="viewService" />
                                                <span th:each="viewService : ${viewServices}">
                                                    <input type="checkbox" name="ckViewService" th:id="'viewService'+${viewService.code}" th:value="${viewService.code}"  />
                                                    <label th:text="${viewService.name}" th:for="'viewService'+${viewService.code}"></label>    
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>제목<span class="fa fa-asterisk nesessary"></span></th>
                                            <td>
                                                <input type="text" class="form-control noticeTitleTxt" id="title" value="" name="title" maxlength="100" placeholder="공지사항입니다."/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>내용<span class="fa fa-asterisk nesessary"></span></th>
                                            <td>
                                                <input type="hidden" name="content" id="hidden-content" />
                                                <textarea class="form-control noticeContentTxt" id="content" placeholder="내용을 입력하세요" rows="5" style="resize: none" ></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>첨부파일</th>
                                            <td>
                                                <div class="noticeAddFileArea" id="noticeAddFileArea" style="margin:10px 0;">
                                                    <input type="text" class="form-control noticeFileTextbox" id="noticeFileTextbox" name="noticeFileTextbox" style="float:left;width:30%;" readonly="readonly" />
                                                    <div class="noticeFileBox" style="position:relative;width:7%;   height:29px;display:inline-block;">
                                                        <label for="noticeFileFakeBtn" class="noticeFileLabel" style="display:none;">이미지 첨부</label>
                                                        <input type="button" class="btn btn-success noticeFileFakeBtn" value="파일찾기" name="noticeFileFakeBtn" id="noticeFileFakeBtn" style="width:80px;position:absolute;top:0px;margin-left:5px;"/>
                                                        <input type="file" class="form-control noticeFileupload" name="noticeFileupload" id="noticeFileupload" onchange="javascript:document.getElementById('noticeFileTextbox').value=this.value" style="font-size:45px; position:absolute;right:0px;  top:0px;opacity:0;  .filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)'; -khtml-opactiy:0;   -moz-opacity:0;"/>
                                                        <input type="button" class="btn" value="삭제" name="noticeFileDeleteBtn" onclick="fileDeleteBtn(this);" style="position:absolute;top:0px;left:90px;"/>
                                                        <input type="button" class="btn btn-success noticeFileAddBtn" id="noticeFileAddBtn" value="추가" name="noticeFileAddBtn" onclick="fileAddBtn();" style="position:absolute;top:0px;left:150px;"/>
                                                    </div>
                                                </div>
                                                <div id="addarea">
                                                        
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>게시<span class="fa fa-asterisk nesessary"></span></th>
                                            <td>
                                                <label class="radio-inline">
                                                    <input type="radio" class="noticePost" value="1" name="status" checked="checked"/>게시
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" class="noticeNotPost" value="0" name="status"/>미게시
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="noticeSignupbox" style="margin:20px 0 0 0">
                                <div class="noticeSignupLeft" style="float:left;" th:if="${id != null}">
                                    <input type="button" class="btn btn-outline btn-warning noticeDelBtn" id="noticeDelBtn" value="삭제" name="noticeDelBtn" onclick="removeNotice()"/>
                                </div>
                                <div class="noticeSignupRight" style="float:right;">
                                    <input type="button" class="btn btn-outline btn-info noticeSignupBtn" id="noticeSignupBtn" value="저장" name="noticeSignupBtn" onclick="save();"  />
                                    <input type="button" class="btn btn-outline btn-info noticeCancleBtn" id="noticeCancleBtn" value="취소" name="noticeCancleBtn" onclick="moveList()" />  
                                </div>  
                            </div>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /*<![CDATA[*/

$(function(){
	
	CKEDITOR.replace( 'content', {
        extraPlugins: 'image2,uploadimage',

        removePlugins: 'save,newpage,preview,print,templates,find,selectall,forms,div,justify,bidi,indentblock,flash,smiley,' +
        'pagebreak,iframe,colorbutton,font,image',

        // The toolbar groups arrangement, optimized for two toolbar rows.
        toolbarGroups: [
            { name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },
            { name: 'editing',     groups: [ 'find', 'selection', 'spellchecker' ] },
            { name: 'links' },
            { name: 'insert' },
            { name: 'forms' },
            { name: 'tools' },
            { name: 'document',    groups: [ 'mode', 'document', 'doctools' ] },
            { name: 'others' },
            '/',
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
            { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
            { name: 'styles' },
            { name: 'colors' },
            { name: 'about' }
        ],

        // Remove some buttons provided by the standard plugins, which are
        // not needed in the Standard(s) toolbar.
        removeButtons: 'Underline,Subscript,Superscript,Copy,Cut,Paste,PasteText,PasteFromWord',

        uploadUrl: '/api/common/editor/image/temp/upload',

        // Set the most common block elements.
        format_tags: 'p;h1;h2;h3;pre',

        // Simplify the dialog windows.
        removeDialogTabs: 'link:advanced',

        height: 400,

        // Load the default contents.css file plus customizations for this sample.
        contentsCss: [ CKEDITOR.basePath + 'contents.css', '/ckeditor/contents.css' ],

        stylesSet: [
            { name: 'Narrow image', type: 'widget', widget: 'image', attributes: { 'class': 'image-narrow' } }
        ],
        
        allowedContent : true,// style 속성 직접 적용 가능 유무

        // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
        // resizer (because image size is controlled by widget styles or the image takes maximum
        // 100% of the editor width).
        image2_alignClasses: [ 'image-align-left', 'image-align-center', 'image-align-right' ],
        image2_disableResizer: true
    });
	
	
	$("input[name=ckViewService]").bind("click", function(){
		if($(this).val() == "1"){
			$("input[name=ckViewService]").prop("checked", false);
			$(this).prop("checked", true);
		} else {
			if($("input[name=ckViewService]:not(:first)").length == $("input[name=ckViewService]:not(:first):checked").length){
				$("input[name=ckViewService]").prop("checked", false);
				$("input[name=ckViewService]:first").prop("checked", true);
			} else {
				$("input[name=ckViewService]:first").prop("checked", false);
			}
		}
	});
	
	$("#noticeFrm input[name=ckViewService]:first").prop("checked", true);
	
	if($("#noticeFrm input[name=id]").val() != ""){
		$.ajax({
	        url: '/jaha/notice/form-data',
	        type: 'post',
	        async : false,
	        dataType: "json",
	        data: {
	            "id": $("#noticeFrm input[name=id]").val()
	        },
	        success: function(jsonData) {
	        	if(jsonData != null){
	        		var data = jsonData.data;
	        		var fileList = jsonData.fileList;
	        		$("#type").val(data.type);
	        		$("#title").val(data.title);
	        		$("#content").val(data.content);
	        		
	        		//서비스노출 선택처리.
	        		if(data.viewService != null){
	        			var arr = data.viewService.split(",");
	        			$("#noticeFrm input[name=ckViewService]").prop("checked", false);
	        			for(var i=0;i<arr.length;i++){
	        				$("#noticeFrm input[name=ckViewService][value="+arr[i]+"]").prop("checked", true);
	        			}
	        		}
	        		if(fileList != null){
	        			for(var i=0;i<fileList.length-1;i++){
	        				fileAddBtn();        				
	        			}
	        			for(var i=0;i<fileList.length;i++){
	        				$("#noticeFrm input[name=noticeFileTextbox]").eq(i).val(fileList[i].fileOriginName);
	        				$("#noticeFrm input[name=noticeFileTextbox]").eq(i).attr("fileKey", fileList[i].fileKey);
                        }
	        			
	        		}
	        		
	        		//게시 선택처리
	        		$("#noticeFrm input[name=status][value="+data.status+"]").prop("checked", true);
	        	}
	        },
	        error: function(xhr, status, error) {
	            alert("error : notice form data fail");
	        }
	    });
	}
});


function moveList(){
	location.href = "/jaha/notice/list";
}

function removeNotice(){
   if (confirm('삭제하시겠습니까?')) {
	   $.ajax({
           url: '/jaha/notice/delete',
           type: 'post',
           async : false,
           dataType: "html",
           data: {
               "id": $("#noticeFrm input[name=id]").val()
           },
           success: function(data) {
               if(data > 0){
            	   alert("삭제되었습니다.");
               } else {
            	   alert("삭제도중 오류가 발생했습니다.");
               }
               moveList();
           },
           error: function(xhr, status, error) {
               alert("error : notice form data fail");
           }
       });
   }
};

function save(){
    var content = CKEDITOR.instances.content;
    var contentData = content.getData();
   
    if($('#title').val() == ""){
        alert('제목을 입력해주세요.');
        $('#title').focus();
        return;
    }else if(contentData == ""){
        alert('내용을 입력해주세요.');
        $('#content').focus();
        return;
    };
   
    $("#hidden-content").val(contentData);
   
    var ckViewService = "";
    $("input[name=ckViewService]:checked").each(function(idx){
    	if(idx == 0){
    		ckViewService += $(this).val();
    	} else {
    		ckViewService += ","+$(this).val();
    	}
    });
    
    $("#viewService").val(ckViewService);
    
    if(confirm('등록하시겠습니까?')){
        $("#noticeFrm").prop("action", "/jaha/notice/save");
        $("#noticeFrm").submit();
    };
};

//파일추가버튼
var newnumber = 0;
function fileAddBtn(){
    newnumber++;

    if($(".noticeAddFileArea").length < 5){
        var id = "noticeAddFileArea"+newnumber;
        
        var obj = $($('#noticeAddFileArea').clone());
        
        $(obj).appendTo('#addarea');
        $(obj).prop("id", id);
        
        $(obj).find("[name=noticeFileTextbox]").val("");
        $(obj).find("[name=noticeFileAddBtn]").remove("");

        var noticeFileTextbox = "noticeFileTextbox"+newnumber;
        var noticeFileupload ="noticeFileupload"+newnumber;

        $(obj).find('[name="noticeFileTextbox"]').prop('id',noticeFileTextbox);
        $(obj).find('[name="noticeFileTextbox"]').removeAttr("fileKey");//복사할때 파일정보 제거
        $(obj).find('[name="noticeFileupload"]').prop('id',noticeFileupload);
        
        $(obj).find('[name="noticeFileDeleteBtn"]').attr('value2', newnumber);//파일 element 삭제시필요한 번호
        
        $("#"+noticeFileupload).attr('onchange', '').unbind("change");
        $("#"+noticeFileupload).change(function(){
            $("#"+noticeFileTextbox).val($(this).val());
        });
    }   
}

function fileDeleteBtn(obj){

	var fileIdx = $("#noticeFrm input[name=noticeFileDeleteBtn]").index(obj);
	
	//첫번째 파일이면 div영역이 다르기때문에 html자체를 교체
	if(fileIdx == 0){
		var deleteFileKey = $("#noticeFileTextbox").attr("fileKey");
        if(deleteFileKey != null){
            $("<input type='hidden' name='deleteFileKey' value='"+deleteFileKey+"' />").appendTo("#noticeFrm");
        }
		var html = $('#noticeAddFileArea').html();
	    $('#noticeAddFileArea').empty();
	    $('#noticeAddFileArea').html(html);
	    $("#noticeFileTextbox").removeAttr("fileKey");
	} else {
		//두번째이후부터는 버튼에 저장한 attribute를 이용하여 div를 삭제.
		var deleteFileKey = $("#noticeFileTextbox"+$(obj).attr("value2")).attr("fileKey");
		if(deleteFileKey != null){
			$("<input type='hidden' name='deleteFileKey' value='"+deleteFileKey+"' />").appendTo("#noticeFrm");
		}
		$("#noticeAddFileArea"+$(obj).attr("value2")).remove();
	}
	
}

//noticeAddFileArea

    /*]]>*/
</script>
</body>
</html>
