<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>

    <link type="text/css" rel="stylesheet" href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/font-awesome/css/font-awesome.css"
          th:href="@{/font-awesome/css/font-awesome.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/bootstrap-datetimepicker.css"
          th:href="@{/css/bootstrap-datetimepicker.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/select2.min.css"
          th:href="@{/css/select2.min.css}"/>

    <script src="../../static/ckeditor/ckeditor.js" th:src="@{/ckeditor/ckeditor.js}"></script>

    <style>
        .no-border-on-me > thead > tr > th,
        .no-border-on-me > tbody > tr > th,
        .no-border-on-me > tfoot > tr > th,
        .no-border-on-me > thead > tr > td,
        .no-border-on-me > tbody > tr > td,
        .no-border-on-me > tfoot > tr > td {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <title>Jaha admin | 오늘 입력 페이지</title>
</head>

<body>

<div id="wrapper">                <!-- /#wrapper -->

    <div th:replace="admin/admin :: top-nav"></div>

    <div th:replace="admin/admin :: vert-nav-admin"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">오늘 글 수정</h1>

                <div id="content-container">
                    <form enctype="multipart/form-data" method="post" id="today-write" action="/api/board/today/modify">
                        <!--action-->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <input class="form-control" type="text" id="title" name="title" placeholder="제목을 입력하세요"
                                       th:value="${post.title}"/>

                                <div id="tag-wrap" style="margin-top: 10px">
                                    <select id="tags" name="tags" multiple="multiple" style="width: 100%">
                                        <option th:each="tag : ${tags}" th:text="${tag.name}"
                                                th:selected="${#lists.contains(postTags, tag.name)}"></option>
                                    </select>
                                </div>

                            </div>
                            <div class="panel-body">
                                목록 배경 이미지 선택
                                <input id="img-title" type="file" name="img-title" placeholder="ddd"/>
                            </div>
                            <div class="panel-body">
                                <div class="border-round" style="padding: 0; margin: 0 0 10px 0">
                                    <table class="table table-hover" style="margin-bottom: 0">
                                        <thead>
                                        <th colspan="2">공개 대상 선택</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th width="15%"><label>모든 사용자 공개</label></th>
                                            <td>
                                                <input type="checkbox" id="range-all" name="range-all" th:checked="${post.rangeAll}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label>시도명</label></th>
                                            <td>
                                                <select class="form-control" id="sido" name="sido"
                                                        onchange="sidoToSigungu()">
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label>시군구명</label></th>
                                            <td>
                                                <select class="form-control" id="sigungu" name="sigungu">
                                                </select>

                                                <div id="loading" style="display: none">
                                                    <img src="../../static/img/ajax-loader.gif"
                                                         th:src="@{/img/ajax-loader.gif}" alt="loading"/>
                                                </div>
                                            </td>
                                        </tr>
                                           <tr>
                                            <th width="15%"><label>카테고리</label></th>
                                            <td>
												<select class="form-control"  id="category" name="category" style="width: 100%">
													<option value="">전체</option>
													<option th:each="category : ${categoryList}" th:value="${category.code}" th:text="${category.name}"></option>
												</select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <input type="hidden" name="contents" id="hidden-contents"/>
                                <input type="hidden" name="postId" id="hidden-postId"/>
                                <textarea class="form-control" id="contents" placeholder="내용을 입력하세요" rows="30"
                                          style="resize: none"
                                          th:text="${post.content}"></textarea>
                            </div>
                            <div class="panel-footer" align="right">
                                <input class="btn btn-success" id="submit-button" type="button" value="수정 완료"/>
                                <input class="btn btn-success" type="button" value="취소" onclick="history.back()"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../static/js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/metisMenu/metisMenu.js" th:src="@{/js/metisMenu/metisMenu.js}"></script>
<script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
<script src="../../static/js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
<script src="../../static/js/bootstrap-datetimepicker.js" th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<script src="../../static/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
<script src="../../static/js/select2.min.js" th:src="@{/js/select2.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    (function () {
        'use strict';

        CKEDITOR.replace('contents', {
            extraPlugins: 'image2,uploadimage',

            removePlugins: 'save,newpage,preview,print,templates,find,selectall,forms,div,justify,bidi,indentblock,flash,smiley,' +
            'pagebreak,iframe,colorbutton,font,image',

            // The toolbar groups arrangement, optimized for two toolbar rows.
            toolbarGroups: [
                {name: 'clipboard', groups: ['clipboard', 'undo']},
                {name: 'editing', groups: ['find', 'selection', 'spellchecker']},
                {name: 'links'},
                {name: 'insert'},
                {name: 'forms'},
                {name: 'tools'},
                {name: 'document', groups: ['mode', 'document', 'doctools']},
                {name: 'others'},
                '/',
                {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi']},
                {name: 'styles'},
                {name: 'colors'},
                {name: 'about'}
            ],

            // Remove some buttons provided by the standard plugins, which are
            // not needed in the Standard(s) toolbar.
            removeButtons: 'Underline,Subscript,Superscript,Copy,Cut,Paste,PasteText,PasteFromWord',

            uploadUrl: '/api/board/today/image/upload',

            // Set the most common block elements.
            format_tags: 'p;h1;h2;h3;pre',

            // Simplify the dialog windows.
            removeDialogTabs: 'link:advanced',

            height: 600,

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [CKEDITOR.basePath + 'contents.css', '/ckeditor/contents.css'],

            stylesSet: [
                {name: 'Narrow image', type: 'widget', widget: 'image', attributes: {'class': 'image-narrow'}}
            ],
            
            allowedContent : true,// style 속성 직접 적용 가능 유무

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            image2_disableResizer: true
        });
    })();

    $("#tags").select2({
        tags: true,
        placeholder: "태그를 선택하거나 입력하세요"
    });

    $(document).ajaxStart(function () {
        $('#loading').css('position', 'absolute');
        $('#loading').css('z-index', '10000');
        $('#loading').css('top', '30%');
        $('#loading').css('left', '50%');

        $('#loading').show();
    }).ajaxStop(function () {
        $('#loading').attr('style', '');
        $('#loading').hide();
    });

    $(document).ready(function () {
        getAddressCode();

        handleRangeAllClicked($('#range-all'));
    });

    function getAddressCode() {
        $('#sido').empty();
        $('#sido').append('<option value="">시/도 선택</option>');

        $('#sigungu').empty();
        $('#sigungu').append('<option value="">시군구 선택</option>');
        $('#sigungu').append('<option value="">시/도를 먼저 선택하세요</option>');

        $('#buildingName').val("");
        var url = "/api/public/address/sido-names";

        $.ajax({
            type: 'GET',
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (data) {
                for (i in data) {
                    $('#sido').append('<option value="' + data[i] + '">' + data[i] + '</option>');
                }
                var sido = /*[[${post.rangeSido}]]*/ 'sido';
                $('#sido').val(sido);

                sidoToSigungu();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
        $('#modal-info').modal('show');
    }

    function sidoToSigungu() {

        $('#sigungu').empty();
        $('#sigungu').append('<option value="">시군구 선택</option>');

        var sidoName = $('#sido option:selected').text();

        var url = "/api/public/address/sigungu-names/" + sidoName;

        if ($('#sido option:selected').val() == '') {
            $('#sigungu').empty();
            $('#sigungu').append('<option value="">시군구 선택</option>');
            $('#sigungu').append('<option value="">시/도를 먼저 선택하세요</option>');
        } else {
            $.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                    for (i in data) {
                        $('#sigungu').append('<option value="' + data[i] + '">' + data[i] + '</option>');
                    }
                    var sigungu = /*[[${post.rangeSigungu}]]*/ 'sigungu';
                    $('#sigungu').val(sigungu);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    console.log(textStatus);
                }
            });
        }
    }

    $('#submit-button').click(function () {
        checkVal();
    });

    function checkVal() {

        var title = $('#title').val();
        var contents = CKEDITOR.instances.contents.getData();
        var postId = /*[[${post.id}]]*/ 0;

        $('#hidden-contents').val(contents);
        $('#hidden-postId').val(postId);
        if (title == '' || contents == '') {
            alert('제목과 내용이 입력되었는지 확인해주세요');
            return;
        }
        $('#today-write').submit();

    }

    function handleRangeAllClicked(rangeAll){
        var isChecked = rangeAll.is(':checked');
        $('#sido').prop("disabled", isChecked);
        $('#sigungu').prop("disabled", isChecked);
    }

    $('#range-all').click(function () {
        handleRangeAllClicked($(this));
    });

    /*]]>*/
</script>
</body>
</html>