<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaha.web.emaul.mapper.AddressMapper">

    <select id="selectVirtualAddress" parameterType="map" resultType="Address">
    /* selectAddressList */
	    SELECT *
	    FROM address l1
	    WHERE l1.시도명 = #{sidoNm}
	    AND l1.시군구명 = #{sggNm}
	    AND l1.법정읍면동명 = #{emdNm}
	    AND 비고1 = 'virtual'
	    GROUP BY l1.건물본번, l1.건물부번
	    ORDER BY l1.시군구용건물명
    </select>
    
    <select id="createVirtualAddressBuildingNo" resultType="String">
    /* selectVirtualAddressMaxNo */
        SELECT LPAD(IFNULL(MAX(건물관리번호) + 1,1), 25, '0') 
        FROM address 
        WHERE 건물관리번호 LIKE '0%' AND 비고1 = 'virtual'
    </select>
    
    <insert id="insertVirtualAddress" parameterType="map" >
    /* insertVirtualAddress */
        INSERT INTO address (건물관리번호, 시도명, 시군구명, 법정읍면동명, 시군구용건물명, 비고1) 
        VALUES (#{addressCode},#{sidoNm},#{sggNm},#{emdNm}, #{buildingNm}, 'virtual');
    </insert>
	
</mapper>
