<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaha.web.emaul.mapper.AptSchedulerMapper">

    <sql id="sql_selectAptSchedulerList">
        SELECT l1.id
              ,l1.apt_id
              ,l1.notice_target
              ,( SELECT name FROM common_code WHERE code_group = 'APT_SCH_NT' AND code = l1.notice_target ) notice_target_name
              ,l1.notice_target_dong
              ,l1.notice_target_ho
              ,l1.start_date
              ,l1.start_time
              ,l1.end_date
              ,l1.end_time
              ,l1.title
              ,l1.content
              ,l1.push_timing
              ,l1.exposure_timing
              ,l1.status
              ,l1.reg_id
              ,l1.reg_date
              ,DATE_FORMAT(l1.reg_date, '%Y-%m-%d %H:%i') regDateStr
              ,l1.mod_id
              ,l1.mod_date
              ,DATE_FORMAT(l1.reg_date, '%Y-%m-%d %H:%i') modDateStr
              ,l2.full_name
              ,CONCAT(l1.start_date,' ~ ',l1.end_date) period
        FROM apt_scheduler l1
        LEFT OUTER JOIN user l2
        ON l1.reg_id = l2.id
        WHERE apt_id = #{aptId}
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND (
                l1.start_date BETWEEN CONCAT(#{startDate},' 00:00') AND CONCAT(#{endDate},' 23:59')
                OR l1.end_date BETWEEN CONCAT(#{startDate},' 00:00') AND CONCAT(#{endDate},' 23:59')
                OR (CONCAT(#{startDate},' 00:00') <![CDATA[<]]> l1.start_date AND CONCAT(#{endDate},' 23:59') <![CDATA[>]]> l1.end_date)
            )
        </if>
        <if test="searchKeyWord != null and searchKeyWord != ''">
            AND l1.${searchItem} LIKE CONCAT('%',#{searchKeyWord},'%')
        </if>
       
        ORDER BY reg_date DESC
    </sql>

	<select id="selectAptSchedulerList" parameterType="map" resultType="AptScheduler">
		/* selectAptSchedulerList */
		<include refid="sql_selectAptSchedulerList" />
		LIMIT #{startNum}, #{pageSize}
	</select>
	
	<select id="selectAptSchedulerListCount" parameterType="map" resultType="int">
        /* selectAptSchedulerListCount */
        SELECT COUNT(*) FROM (
        <include refid="sql_selectAptSchedulerList" />
        ) A
    </select>
	
</mapper>
