<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>JAHA-게시판 게시글 댓글</title>

</head>
<body>

<div th:fragment='comment-form'>

					<link type="text/css" rel="stylesheet" th:href="@{/css/jquery.toastmessage.css}"/>
				    <style>
				        .cmtStyle {
				            color: red;
				        }
				    </style>

					<script src="../../static/js/jquery.toastmessage.js" th:src="@{/js/jquery.toastmessage.js}"></script>

					<form id="commentSearchForm" name="commentSearchForm" method="post" action="" th:if="${category.commentDisplayYn ne 'N'}">
					<input type="hidden" id="searchCategoryId" name="searchCategoryId" th:value="${category.id}" />
					<input type="hidden" id="searchPostId" name="searchPostId" th:value="${post.id}" />
					<input type="hidden" id="searchCommentId" name="searchCommentId" value="" />

					<input type="hidden" id="content" name="content" value="" />

					<div class="replybox-wrap" >
						<p class="reply-title" th:if="${category.type ne 'complaint'}">댓글쓰기</p>
						<p class="reply-title" th:if="${category.type eq 'complaint'}">답변쓰기</p>

						<div class="new-replybox">
							<textarea th:if="${category.type ne 'complaint'}" class="form-control2" rows="3" id="text-comment" style="resize: none; margin-bottom: 5px" placeholder="댓글을 등록해주세요"></textarea>
							<textarea th:if="${category.type eq 'complaint'}" class="form-control2" rows="3" id="text-comment" style="resize: none; margin-bottom: 5px" placeholder="답변을 등록해주세요"></textarea>
		                	<div class="rp-apply">
		                		<span id="_cmtMaxMsg" style="display:none;"> 댓글 글자수를 초과하였습니다. </span>
		                		<span id="_cmtLength"></span>
		                		<input type="button" name="" value="등록" class="btn-apply" th:onclick="'javascript:writeComment(' + ${post.id} + ')'" />
		                	</div>
		                </div>
					</div>

					<div id="comments-container" th:if="${boardCommentList != null}">
                       	<!-- 댓글 영역 -->
                       	<!-- loop -->
                       	<p class="reply-title2" th:if="${category.type ne 'complaint'}">전체댓글</p>
                       	<p class="reply-title2" th:if="${category.type eq 'complaint'}">답변</p>

                       	<div th:each="comment : ${boardCommentList}">

							<div class="re-replybox-wrap" th:id="'comment-' + ${comment.id}" >

								<div class="show-replybox">
									<p th:if="${category.userPrivacy eq 'NAME'}" class="rp-Idname" th:text="${comment.fullName} + '(' + ${comment.dong} + '동) ' + ${#dates.format(comment.regDate, 'yyyy-MM-dd HH:mm:ss')}">아이디명</p>
									<p th:if="${category.userPrivacy eq 'ALIAS'}" class="rp-Idname" th:text="${comment.nickname} + '(' + ${comment.dong} + '동) ' + ${#dates.format(comment.regDate, 'yyyy-MM-dd HH:mm:ss')}">아이디명</p>

									<!-- 댓글 수정 -->
									<pre class="show-rp-content" th:id="'pre-comment-' + ${comment.id}" style=" background: none; border: none; display:; word-break: break-all; word-wrap: break-word; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;" th:text="${comment.content}" >댓글본문</pre>
									<div class="new-replybox" th:id="'cmt-length-view-area-' + ${comment.id}" style="display:none;">
										<textarea class="form-control" th:id="'text-comment-modify-' + ${comment.id}"  rows="3" th:text="${comment.content}" style="resize: none; margin-bottom: 5px; " >댓글본문</textarea>
					                	<div class="rp-apply">
					                		<span th:id="'_cmtModifyMaxMsg-' + ${comment.id}" style="display:none;" class="cmtStyle"> 댓글 글자수를 초과하였습니다. </span>
											<span th:id="'_cmtModifyLength-' + ${comment.id}" class="cmtStyle"> [ 0 / 1000 ] </span>
					                		<input type="button" name="" value="수정" class="btn-apply"  th:onclick="'modifyComment(' + ${comment.id} + ')'" />
					                	</div>
					                </div>
					                <!-- 댓글 수정 -->

									<div th:if="${user.id == comment.userId or user.type.jaha}">
										<span th:id="'btn-comment-modify-' + ${comment.id}" ><a href="#none" th:onclick="'showCommentTextarea('+ ${comment.id} +')'">수정</a></span> |
										<span><a href="#none;" th:onclick="'javascript:deleteComment(' + ${comment.id} + ', ' + ${comment.replyCount} + ')'">삭제</a></span>
									</div>

									<!-- 댓글 추가 영역 -->
									<div th:if="${category.type ne 'complaint'}" >
		    							<a th:if="${comment.replyCount == 0}" th:id="'button-reply-' + ${comment.id}"  th:href="'javascript:showCommentReply(' + ${comment.id} + ')'">
		    								<span class="btn-re-reply fa fa-sort-down" style="padding:6px;"> 답글쓰기</span>
		    							</a>
		    							<a th:if="${comment.replyCount == 0}" th:id="'button-reply-hide-' + ${comment.id}"  th:href="'javascript:hideCommentReply(' + ${comment.id} + ')'" style="display:none;">
		    								<span class="btn-re-reply fa fa-sort-up" style="padding:6px;"> 답글쓰기</span>
		    							</a>
		    							<a th:if="${comment.replyCount > 0}" th:id="'button-reply-' + ${comment.id}" th:href="'javascript:showCommentReply(' + ${comment.id} + ')'">
		    								<span class="btn-re-reply fa fa-sort-down" style="padding:6px;"  th:text="${'  답글 : ' + comment.replyCount}" >답글</span>
		    							</a>
		        						<a th:if="${comment.replyCount > 0}" th:id="'button-reply-hide-' + ${comment.id}" th:href="'javascript:hideCommentReply(' + ${comment.id} + ')'" style="display:none;">
		        							<span class="btn-re-reply fa fa-sort-up" style="padding:6px;"  th:text="${'  답글 : ' + comment.replyCount}" >답글</span>
		        						</a>
									</div>
									<!--// 댓글 추가 영역 -->
								</div>
								<div th:if="${category.type ne 'complaint'}" th:id="'reply-wrap-' + ${comment.id}" class="reply-wrap" style="display:none;">

									<div class="re-replybox">
										<div class="rr-content-wrap">
											<div class="rr-Left">
												<span class="rr-left-1"></span><span class="rr-left-2"></span>
											</div>
											<textarea placeholder="댓글을 등록해주세요"></textarea>
											<input type="button" name="" value="댓글" class="btn-re-apply" />
										</div>
										<div class="re-reply-showbox">
											<div class="rr-Left">
												<span class="rr-left-1"></span><span class="rr-left-2"></span>
											</div>
											<div class="re-show-contentbox">
												<p class="re-show-content-nick">아이디명 <span class="re-show-content-time">1시간전</span></p>
												<p class="re-reply-show-content">댓글을 달았습니다. 댓글을 달았습니다. 댓글을 달았습니다.</p>
											</div>
										</div>
									</div>


									<div th:id="'reply-form-' + ${comment.id}" class="re-replybox" style="display:block;">
										<div class="rr-content-wrap" >
											<div class="rr-Left">
												<span class="rr-left-1"></span><span class="rr-left-2"></span>
											</div>
											<textarea rows="3" th:id="'text-comment-' + ${comment.id}" style="resize: none; margin-bottom: 5px" placeholder="답글을 등록해주세요"></textarea>
											<input type="button" name="" value="등록" class="btn-re-apply" th:onclick="'javascript:writeCommentReply(' + ${comment.id} + ')'"/>
											<div class="button-position" style="font-size:12px;">
												<span id="'_cmtMaxMsg-' + ${comment.id}" style="display:none;" class="cmtStyle"> 답글 글자수를 초과하였습니다. </span>
												<span th:id="'_cmtLength-' + ${comment.id}" class="cmtStyle"> [ 0 / 1000 ] </span>
											</div>
										</div>

										<div th:if="${category.type ne 'complaint'}" th:each="reply : ${comment.boardCommentReplyList}">

											<div class="re-reply-showbox" th:id="'reply-' + ${reply.id}">
												<div class="rr-Left">
													<span class="rr-left-1"></span><span class="rr-left-2"></span>
												</div>
												<div class="re-show-contentbox">
													<p class="re-show-content-nick" >
														<span th:if="${category.userPrivacy eq 'NAME'}" class="" th:text="${reply.fullName} + ' (' + ${reply.dong} + '동) ' + ${#dates.format(reply.regDate, 'yyyy-MM-dd HH:mm:ss')}">1시간전</span>
														<span th:if="${category.userPrivacy eq 'ALIAS'}" class="" th:text="${reply.nickname} + ' (' + ${reply.dong} + '동) ' + ${#dates.format(reply.regDate, 'yyyy-MM-dd HH:mm:ss')}">1시간전</span>
											    		<a th:if="${user.id == comment.userId or user.type.jaha}" th:id="'a-reply-modify-button-' + ${reply.id}" class="btn btn-xs btn-outline btn-danger" th:href="'javascript:showReplyTextarea(' + ${reply.id} + ')'">수정</a>
				    									<a th:id="'a-reply-modify-confirm-button-' + ${reply.id}" class="btn btn-xs btn-outline btn-danger" style="display:none;" th:href="'javascript:modifyReply(' + ${comment.id} + ', ' + ${reply.id} + ')'">수정확인</a>
				    									<a th:id="'a-reply-modify-cancel-button-' + ${reply.id}" class="btn btn-xs btn-outline btn-danger" style="display:none;" th:href="'javascript:showReplyPre(' + ${reply.id} + ')'">수정취소</a>
														<a th:if="${user.id == reply.userId or user.type.jaha}" class="btn btn-xs btn-outline btn-danger" th:href="'javascript:deleteReply(' + ${comment.id} + ', ' + ${reply.id} + ')'">삭제</a>
													</p>
													<pre th:id="'pre-reply-' + ${reply.id}" class="re-reply-show-content" style="border:0px; word-break: break-all; word-wrap: break-word; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;" th:text="${reply.content}">답글</pre>
											    	<textarea th:id="'text-reply-modify-' + ${reply.id}" rows="3" th:text="${reply.content}" style="resize: none; margin-bottom: 5px; display:none; width:92%; border: 1px solid #ddd">답글 본문</textarea>

											    	<div class="button-position" th:id="'reply-length-view-area-' + ${reply.id}" style="display:none;">
														<span th:id="'_replyModifyMaxMsg-' + ${reply.id}" style="display:none;" class="cmtStyle"> 답글 글자수를 초과하였습니다. </span>
														<span th:id="'_replyModifyLength-' + ${reply.id}" class="cmtStyle"> [ 0 / 1000 ] </span>
													</div>

												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<!-- loop -->
						<!-- 답글 영역 -->
                  	</div>

                  	<!-- paging -->
					<div th:replace="v2/user/board/comment-paging :: paginationbar-comment"></div>
                  	</form>


<input type="hidden" id="boardCategoryType" name="boardCategoryType" th:value="${category.type}" />

<script th:inline="javascript">
/*<![CDATA[*/

var categoryType = /*[[${category.type}]]*/ 'error';
var categoryId = /*[[${category.id}]]*/ '0';

var cmtMaxByte = 1000; // 댓글과 댓글에댓글의 글자수 제한
var cmtMaxMsg = " 댓글 글자수를 초과하였습니다. ";

// 페이지 내 이동할 commentId
var commentIdForAnchor = /*[[${commentIdForAnchor}]]*/ '0';
// console.log(">>> commentIdForAnchor : " + commentIdForAnchor);
//페이지 내 이동할 replyId
var replyIdForAnchor = /*[[${replyIdForAnchor}]]*/ '0';
// console.log(">>> replyIdForAnchor : " + replyIdForAnchor);

// 답글 노출 여부
var replyAreaDisplayYn = /*[[${replyAreaDisplayYn}]]*/ 'N';
// 수정 후, 또는 리스트에서 왔는지 여부
var fromWhere = /*[[${fromWhere}]]*/ 'list';

$(document).ready(function () {
	$(".board-detail-content").each(function() {
		var tempContent = $(this).html();

		if (tempContent) {
			$(this).html(tempContent.replace(/\n/g, "<br />"));
		}
	});

    // 댓글 글자수 표기
    setTextLengthStatus({
        _cmtMaxMsgId : "_cmtMaxMsg",
        _cmtLengthId : "_cmtLength",
        _textCommentId : "text-comment"
    });
    // 답글 글자수 표기
    setTextLengthStatus({
        _cmtMaxMsgId : "_replyMaxMsg",
        _cmtLengthId : "_replyLength",
        _textCommentId : "text-reply"
    });

    // 답글 등록/수정/삭제일 경우 답글 목록 노출
    if ("Y" === replyAreaDisplayYn) {
    	showCommentReply(commentIdForAnchor);

        // 해당 답글 위치로 이동
        if (replyIdForAnchor) {
        	// location.href = '#span-move-reply-' + replyIdForAnchor;
    		var $target = $("#pre-reply-" + replyIdForAnchor);
    		if ($target.length) {
    			$("html, body").animate({
    				scrollTop : $target.offset().top
    			}, 800);
    		}
        }
    }
    else {
        // 해당 댓글 위치로 이동
        if (commentIdForAnchor) {
        	location.href = '#pre-comment-' + commentIdForAnchor;
        }
    }

    if (fromWhere === "modify") { // 수정화면에서 왔을 경우
    	$("#btn-move-list").click(function() {
        	location.href="/v2/user/board/" + categoryType + "/list/" + categoryId;
    	});
    }
    else {
    	$("#btn-move-list").click(function() {
        	location.href="/v2/user/board/" + categoryType + "/list/" + categoryId;
        	// history.back();
    	});
    }
});

/**
 * 댓글 목록 페이징
 */
function paging(movePageNum) {
	$("#pageNum").val(movePageNum);

	var $form = $("#commentSearchForm");
	$form.attr("action", $("#listUrl").val());

	$form.submit();
}
/**
 * 댓글 글자제한 메시지 및 byte수 표기
 */
function setTextLengthStatus(options, currentCmtLengh) {

    $("#"+options._cmtMaxMsgId).text(cmtMaxMsg).addClass("cmtStyle");

    if (!currentCmtLengh) {
    	currentCmtLengh = 0;
    }

    // $("#"+options._cmtLengthId).text(" [ 0 / "+cmtMaxByte+" ] ").addClass("cmtStyle"); // 처음 로딩시 기본 글자수 표기
    $("#"+options._cmtLengthId).text(" [ " + currentCmtLengh +" / "+cmtMaxByte+" ] ").addClass("cmtStyle"); // 처음 로딩시 기본 글자수 표기

    $("#"+options._textCommentId).on("keyup", function() {
        var currByte = gfnByte($(this).val());
        $("#"+options._cmtLengthId).text(" [ "+currByte+" / "+cmtMaxByte+" ] ");

        if (currByte > cmtMaxByte) {
            $("#"+options._cmtMaxMsgId).show();
        } else {
            $("#"+options._cmtMaxMsgId).hide();
        }
    });
}
/**
 * 댓글 등록
 */
function writeComment() {
    var content = $('#text-comment').val();

    if (!content) {
        alert(' 내용을 입력해주세요 ');
    	/* $().toastmessage('showToast', {
    	    text : ' 댓글 내용을 입력해주세요! '
    	    , sticky : false
    	    , position : 'middle-center' // top-left, top-center, top-right, middle-left, middle-center, middle-right
    	    , type : 'warning' // notice, warning, error, success
    	    , close : function () { if (window.console && console.log) console.log("toast is closed ..."); }
    	}); */
        return;
    }

    if (gfnByte(content) > cmtMaxByte) {
         alert(cmtMaxMsg);
    	/* $().toastmessage('showToast', {
    	    text : cmtMaxMsg
    	    , sticky : false
    	    , position : 'middle-center' // top-left, top-center, top-right, middle-left, middle-center, middle-right
    	    , type : 'warning' // notice, warning, error, success
    	    , close : function () { if (window.console && console.log) console.log("toast is closed ..."); }
    	}); */
        return;
    }

    $("#content").val(content);
	var $form = $("#commentSearchForm");
	// $form.attr("action", "/v2/user/board/notice/comment/create");
	$form.attr("action", "/v2/user/board/" + categoryType + "/comment/create");

	$form.submit();
}
/**
 * 댓글 수정 textarea 노출
 */
var g_oldPreAndTextCommentId;
// console.log('>>> g_oldPreAndTextCommentId : ' + g_oldPreAndTextCommentId);

function showCommentTextarea(commentId) {
    if (g_oldPreAndTextCommentId) {
    	$("#text-comment-modify-" + g_oldPreAndTextCommentId).hide();
    	$("#pre-comment-" + g_oldPreAndTextCommentId).show();
    	$("#cmt-length-view-area-" + g_oldPreAndTextCommentId).hide();
    }

	$("#pre-comment-" + commentId).hide();
	$("#text-comment-modify-" + commentId).show();
	$("#cmt-length-view-area-" + commentId).show();
	$("#a-modify-button-" + commentId).show();

	$("#btn-comment-modify-" + commentId).html('<a href="#none" onclick="showCommentPre('+ commentId +')">취소</a>');

	var commentLength = gfnByte($("#text-comment-modify-" + commentId).val());

    // 댓글 글자수 표기
    setTextLengthStatus({
	        _cmtMaxMsgId : "_cmtModifyMaxMsg-" + commentId,
	        _cmtLengthId : "_cmtModifyLength-" + commentId,
	        _textCommentId : "text-comment-modify-" + commentId
    	}, commentLength
    );

	g_oldPreAndTextCommentId = commentId;
}
/**
 * 댓글 수정 textarea 숨김
 */
function showCommentPre(commentId) {

	$("#pre-comment-" + commentId).show();
	$("#text-comment-modify-" + commentId).hide();
	$("#cmt-length-view-area-" + commentId).hide();
	$("#a-modify-button-" + commentId).hide();

	$("#btn-comment-modify-" + commentId).html('<a href="#none" onclick="showCommentTextarea('+ commentId +')">수정</a>');
}
/**
 * 댓글 수정
 */
function modifyComment(commentId) {
    var content = $("#text-comment-modify-" + commentId).val();

    if (!content) {
         alert(' 내용을 입력해주세요 ');
    	/* $().toastmessage('showToast', {
    	    text : ' 댓글 내용을 입력해주세요! '
    	    , sticky : false
    	    , position : 'middle-center' // top-left, top-center, top-right, middle-left, middle-center, middle-right
    	    , type : 'warning' // notice, warning, error, success
    	    , close : function () { if (console && console.log) console.log("toast is closed ..."); }
    	}); */
        return;
    }

    if (gfnByte(content) > cmtMaxByte) {
         alert(cmtMaxMsg);
    	/* $().toastmessage('showToast', {
    	    text : cmtMaxMsg
    	    , sticky : false
    	    , position : 'middle-center' // top-left, top-center, top-right, middle-left, middle-center, middle-right
    	    , type : 'warning' // notice, warning, error, success
    	    , close : function () { if (window.console && console.log) console.log("toast is closed ..."); }
    	}); */
        return;
    }

    if (confirm(" 댓글을 수정하시겠습니까? ")) {
	    $("#content").val(content);
		var $form = $("#commentSearchForm");
		$form.attr("action", "/v2/user/board/" + categoryType + "/comment/modify/" + commentId);

		$form.submit();
    }
}
/**
 * 댓글 삭제
 */
function deleteComment(commentId, replyCount) {
	if (replyCount > 0) {
		// alert(" 답글이 있는 댓글은 삭제할 수 없습니다! ");
		// return;
	}

    if (confirm(" 댓글을 삭제하시겠습니까? ")) {
    	var $form = $("#commentSearchForm");
    	$form.attr("action", "/v2/user/board/" + categoryType + "/comment/remove/" + commentId);

    	$form.submit();
    }
}
/**
 * 댓글 답글 목록 출력
 */
var g_oldCommentId;

function showCommentReply(commentId) {
    if (g_oldCommentId) {
    	$('#reply-wrap-'+g_oldCommentId).attr('style', 'display:none');
    }
    $('#reply-wrap-'+commentId).attr('style', '');
    $('#button-reply-'+commentId).attr('style', 'display:none');
    $('#button-reply-hide-'+commentId).attr('style', '');

  	// 댓글 글자수 표기
    setTextLengthStatus({
        _cmtMaxMsgId : "_cmtMaxMsg-"+commentId,
        _cmtLengthId : "_cmtLength-"+commentId,
        _textCommentId : "text-comment-"+commentId
    });

    g_oldCommentId = commentId;
}
/**
 * 댓글 답글 목록 숨김
 */
function hideCommentReply(commentId) {
    $('.reply-wrap').attr('style', 'display:none');
    $('#button-reply-'+commentId).attr('style', '');
    $('#button-reply-hide-'+commentId).attr('style', 'display:none');
}
/**
 * 댓글 답글 등록
 */
function writeCommentReply(commentId) {
    var content = $("#reply-form-" + commentId).find("textarea").val();

    if (!content) {
        alert("댓글 내용을 입력해주세요. ");
        return;
    }

    if (gfnByte(content) > cmtMaxByte) {
        alert(cmtMaxMsg);
        return;
    }

    $("#searchCommentId").val(commentId);
    $("#content").val(content);

	var $form = $("#commentSearchForm");
	$form.attr("action", "/v2/user/board/" + categoryType + "/comment/reply/create");

	$form.submit();
}
/**
 * 댓글 답글 삭제
 */
function deleteReply(commentId, replyId) {
    if (confirm(" 답글을 삭제하시겠습니까? ")) {
        $("#searchCommentId").val(commentId);

    	var $form = $("#commentSearchForm");
    	$form.attr("action", "/v2/user/board/" + categoryType + "/comment/reply/remove/" + replyId);

    	$form.submit();
    }
}
/**
 * 답글 수정 textarea 노출
 */
 var g_oldPreAndTextReplyId;

function showReplyTextarea(replyId) {
    if (g_oldPreAndTextReplyId) {
    	$("#text-reply-modify-" + g_oldPreAndTextReplyId).hide();
    	$("#pre-reply-" + g_oldPreAndTextReplyId).show();
    	$("#reply-length-view-area-" + g_oldPreAndTextReplyId).hide();
    }

	$("#pre-reply-" + replyId).hide();
	$("#text-reply-modify-" + replyId).show();
	$("#reply-length-view-area-" + replyId).show();
	$("#a-reply-modify-button-" + replyId).hide();
	$("#a-reply-modify-confirm-button-" + replyId).show();
	$("#a-reply-modify-cancel-button-" + replyId).show();

	var replyLength = gfnByte($("#text-reply-modify-" + replyId).val());

    // 답글 글자수 표기
    setTextLengthStatus({
	        _cmtMaxMsgId : "_replyModifyMaxMsg-" + replyId,
	        _cmtLengthId : "_replyModifyLength-" + replyId,
	        _textCommentId : "text-reply-modify-" + replyId
    	}, replyLength
    );

    g_oldPreAndTextReplyId = replyId;
}
/**
 * 답글 수정 textarea 숨김
 */
function showReplyPre(replyId) {
	$("#pre-reply-" + replyId).show();
	$("#text-reply-modify-" + replyId).hide();
	$("#reply-length-view-area-" + replyId).hide();
	$("#a-reply-modify-button-" + replyId).show();
	$("#a-reply-modify-confirm-button-" + replyId).hide();
	$("#a-reply-modify-cancel-button-" + replyId).hide();
}
/**
 * 댓글 답글 수정
 */
function modifyReply(commentId, replyId) {
    if (confirm(" 답글을 수정하시겠습니까? ")) {
        var content = $("#text-reply-modify-" + replyId).val();

        if (!content) {
            alert(" 내용을 입력해주세요. ");
            return;
        }

        if (gfnByte(content) > cmtMaxByte) {
            alert(cmtMaxMsg);
            return;
        }

        $("#searchCommentId").val(commentId);
        $("#content").val(content);

    	var $form = $("#commentSearchForm");
    	$form.attr("action", "/v2/user/board/" + categoryType + "/comment/reply/modify/" + replyId);

    	$form.submit();
    }
}
/*]]>*/
</script>



</div>

</body>
</html>
