<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
      	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	layout:decorator="v2/admin/template/layout">
<head>
	<link type="text/css" rel="stylesheet" href="/js/jquery-ui/jquery-ui.min.css" />
	<link type="text/css" rel="stylesheet" href="/js/colorpicker-master/jquery.colorpicker.css" />

	<script src="/js/jquery-ui/jquery-ui.min.js"></script>
	<script src="/js/colorpicker-master/jquery.colorpicker.js"></script>
	<script src="/js/colorpicker-master/i18n/jquery.ui.colorpicker-nl.js"></script>
	<script src="/js/colorpicker-master/parts/jquery.ui.colorpicker-rgbslider.js"></script>
	<script src="/js/colorpicker-master/parts/jquery.ui.colorpicker-memory.js"></script>

	<script src="../../static/ckeditor/ckeditor.js" th:src="@{/ckeditor/ckeditor.js}"></script>
<style>
    .newsRight{
        text-align:right;
        margin:5px 5px;
        vertical-align:middle
    }
    .nesessary{
        color:red;
        font-size:10px;
    }
    table th{
        width:20%;
    }
    .noticeSignupbox{
        margin-bottom:40px;
        overflow:hidden;
    }

    /*인풋파일*/
    .noticeFileTextbox{
        float:left;
        width:30%;
    }

    .noticeFileBox{
        position:relative;
        width:7%;
        height:29px;
        display:inline-block;
    }

    .noticeFileFakeBtn{
        width:80px;
        position:absolute;
        top:0px;
        margin-left:5px;
    }

    .noticeFileupload{
        font-size:45px;
        position:absolute;
        right:0px;
        top:0px;
        opacity:0;
        .filter:alpha(opacity=0);
        -ms-filter:"alpha(opacity=0)";
        -khtml-opactiy:0;
        -moz-opacity:0;
    }

    .noticeFileLabel{
        display:none;
    }

    .noticeFileAddBtn{
        position:absolute;
        top:0px;
        left:90px;
    }
	.noticePassWord{
			color:#aaa;
			font-size:12px;
	}
	.warningPassWord, .warningEmail{
		color:red;
		font-size:12px;
	}

	.noticeFile{
		color:#aaa;
			font-size:12px;
	}
</style>

    <title th:text="${category.name} + ' | 글쓰기'">공지사항 | 글쓰기</title>
</head>

<body>

<div id="page-wrapper" layout:fragment="layout_content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" th:text="${category.name}"></h1>

            <div id="content-container">

                <form enctype="multipart/form-data" method="post" action="/v2/jaha/board/event/create">
                    <input type="hidden" name="categoryId" th:value="${category.id}" value="0" />

                    <div class="panel-body">
                    	<p class="newsRight"><span class="fa fa-asterisk nesessary" style="font-size:8px;"></span>필수 입력 항목 입니다.</p>
                        <div class="border-round" style="padding: 0; margin: 0 0 10px 0">
                            <table class="table table-responsive table" style="margin-bottom: 0">
                                <tbody>
                                    <tr>
                                        <th class="info">기간 설정<span class="fa fa-asterisk nesessary"></span></th>
                                        <td colspan="2">
                                        	<div class="form-inline">
		                                    	<label for="datetimepickerFrom" >시작일</label>
		                                        <div class='input-group date' id='datetimepickerFrom' >
		                                            <input type='text' class="form-control datetimepicker" id="_start_date" name="_start_date" placeholder="YYYY.MM.DD HH시 mm분" />
		                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                                            <input type="hidden" id="startDate" name="startDate" value="" />
		                                        </div>
												<label for="datetimepickerTo" style="margin-left:10px;">종료일</label>
		                                        <div class='input-group date' id='datetimepickerTo' >
		                                            <input type='text' class="form-control datetimepicker" id="_end_date" name="_end_date" placeholder="YYYY.MM.DD HH시 mm분" />
		                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		                                            <input type="hidden" id="endDate" name="endDate" value="" />
		                                        </div>
								            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">서비스 노출<span class="fa fa-asterisk nesessary"></span></th>
                                        <td>
                                       		<input type="hidden" name="displayPlatform" id="displayPlatform" value="" />
                                             <label class="checkbox-inline">
                                                 <input type="checkbox" name="_display_platform" id="_display_platform_all" value="all" onclick="changeDisplayPlatform(this)" /> 전체
                                             </label>
                                             <label class="checkbox-inline">
                                                 <input type="checkbox" name="_display_platform" id="_display_platform_ios" value="ios" onclick="changeDisplayPlatform(this)" /> iOS
                                             </label>
                                             <label class="checkbox-inline">
                                                 <input type="checkbox" name="_display_platform" id="_display_platform_android" value="android" onclick="changeDisplayPlatform(this)" /> Android
                                             </label>
                                        </td>
										<td>
                                        	<label>푸시 알림 전송</label>
                                        	&nbsp;
				                        	<label class="radio-inline">
				                                <input type="radio" id="_push_status_reserv" name="_push_status" value="reserv" onclick="changePushStatus(this);" /> 예약 푸시발송
				                            </label>
				                        	<label class="radio-inline">
				                                <input type="radio" id="_push_status_instant" name="_push_status" value="instant" onclick="changePushStatus(this);" /> 즉시 푸시발송
				                            </label>
				                            <input type="hidden" id="pushStatus" name="pushStatus" value="" /><!-- instant / reserv -->
	                                     </td>
                                    </tr>
                                    <tr>
                                        <th class="info">제목 카테고리</th>
                                        <td class="form-inline">
                          					<input class="form-control" type="text" id="titleCategory" name="titleCategory" placeholder="제목 카테고리를 입력해주세요." maxlength="30" style="width: 600px; height: 30px" />
                                        </td>
                                        <td class="form-inline">
											<label style="display:inline-block; height:30px; line-height:30px;">컬러지정
												<input type="text" id="titleColor" name="titleColor" class="form-control" placeholder="컬러를 지정해 주세요." style="width:200px; height:30px; float:right; margin-left:10px;" />
											</label>
											&nbsp;
                                             <label class="checkbox-inline">
                                                 <input type="checkbox" name="_title_bold_yn" id="_title_bold_yn" /> 볼드여부
                                                 <input type="hidden" name="titleBoldYn" id="titleBoldYn" value="N" />
                                             </label>
										</td>
                                    </tr>
                                    <tr>
                                        <th class="info">제목<span class="fa fa-asterisk nesessary"></span></th>
                                        <td class="form-inline" colspan="2">
                          					<input class="form-control" type="text" id="title" name="title"  placeholder="최대 30자 입력 가능" maxlength="30" style="width: 600px; height: 30px" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">내용<span class="fa fa-asterisk nesessary"></span></th>
                                        <td class="form-inline" colspan="2">
                       						<textarea class="form-control" placeholder="내용을 입력하세요" rows="30" id="content" name="content" style="resize: none"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">썸네일 이미지 첨부<span class="badge">0</span></th>
                                        <td class="form-inline" colspan="2">
				                        	<div id="image-file-up" class="col-md-10">
				                            	<div class="file_input">
				                                	<input type="text" readonly="readonly" title="File Route" id="file_route1" />
				                                	<label>
				                                    	파일선택
				                                    	<input type="file" onchange="uploadFile(this);" name="attachFile" id="attachFile" />
				                                	</label>

													<div class="progress">
														<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
													</div>

													<ul id="_ul_uploaded_files_area" style="display:none;"></ul>
				                            	</div>
				                        	</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="info">게시여부</th>
                                        <td class="form-inline" colspan="2">
					                    	<label class="radio-inline"><input type="radio" id="_reserv_y" name="_reserv_y" value="Y" checked="checked" onclick="changeDisplayYn(this)" /> 예약 게시</label>
					                    	<label class="radio-inline"><input type="radio" id="_display_n" name="_display_n" value="N" onclick="changeDisplayYn(this)" /> 미게시</label>
											<input type="hidden" id="displayYn" name="displayYn" value="" />
											<input type="hidden" id="reservYn" name="reservYn" value="" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="noticeSignupbox" style="margin:20px 0 0 0">
                            <div class="noticeSignupRight" style="float:right;">
								<!--<input type="button" class="btn btn-outline btn-info noticeSignupBtn" value="미리보기" onclick="checkReg('preview')" />-->
                                <input type="button" class="btn btn-outline btn-info noticeSignupBtn" id="noticeSignupBtn" value="취소" name="noticeSignupBtn" data-toggle="modal" data-target="#cancelModal" />
                                <input type="button" class="btn btn-outline btn-info noticeCancleBtn" id="noticeCancleBtn" value="완료" name="noticeCancleBtn" onclick="checkReg()" />
                            </div>
                        </div>
						<!-- 모달 영역 -->
						<div th:replace="v2/jaha/board/board-modal :: board-modal"></div>
					</div>
                </form>
            </div>
        </div>
    </div>

<script th:inline="javascript">
/*<![CDATA[*/

(function() {
    'use strict';

    CKEDITOR.replace('content', {
        extraPlugins: 'youtube,image2,uploadimage',

        removePlugins: 'save,newpage,preview,print,templates,find,selectall,forms,div,justify,bidi,indentblock,flash,smiley,' +
        'pagebreak,iframe,colorbutton,font,image',

        // The toolbar groups arrangement, optimized for two toolbar rows.
        toolbarGroups: [
            { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
            { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
            { name: 'links' },
            { name: 'insert' },
            { name: 'forms' },
            { name: 'tools' },
            { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
            { name: 'others' },
            '/',
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
            { name: 'styles' },
            { name: 'colors', groups: [ 'colors' ] },
            { name: 'about' }
        ],

        // Remove some buttons provided by the standard plugins, which are
        // not needed in the Standard(s) toolbar.
        removeButtons: 'Underline,Subscript,Superscript,Copy,Cut,Paste,PasteText,PasteFromWord',

        uploadUrl: '/api/common/editor/image/temp/upload',

        filebrowserImageUploadUrl: '/api/common/editor/image/temp/dialog-upload',

        // Set the most common block elements.
        format_tags: 'p;h1;h2;h3;pre',

        // Simplify the dialog windows.
        removeDialogTabs: 'link:advanced',

        height: 400,

        // Load the default contents.css file plus customizations for this sample.
        contentsCss: [ CKEDITOR.basePath + 'contents.css', '/ckeditor/contents.css' ],

        stylesSet: [
            { name: 'Narrow image', type: 'widget', widget: 'image', attributes: { 'class': 'image-narrow' } }
        ],

        // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
        // resizer (because image size is controlled by widget styles or the image takes maximum
        // 100% of the editor width).
		image2_alignClasses: [ 'image-align-left', 'image-align-center', 'image-align-right' ],
		image2_disableResizer: true
    });

    CKEDITOR.on('dialogDefinition', function(ev) {
        var dialogName = ev.data.name;
        var dialogDefinition = ev.data.definition;

        switch (dialogName) {
            case 'image2': // Image Properties dialog
                // dialogDefinition.removeContents('info');
                dialogDefinition.removeContents('link');
                dialogDefinition.removeContents('advanced');
                break;
        }
    });
})();

/**
 * 모달창을 닫고 포커스
 */
function closeModalAfterFocus(elementId, canFocus) {
	if (!canFocus) {
		canFocus = true;
	}

	$("#" + elementId + "CheckModal").modal("hide");

	if (!canFocus) {
		return;
	}

	if (CKEDITOR && "content" == elementId) {
		CKEDITOR.instances.content.focus();
		return;
	}

	$("#" + elementId).focus();
}

/**
 * 등록 유효성 체크
 */
function checkReg(gubun) {
   	var startDate = removeSpecialChars($("#_start_date").val());
   	var endDate = removeSpecialChars($("#_end_date").val());

	if (!startDate) {
       	$('#_start_dateCheckModal').modal('show');
       	return;
	}
	if (!endDate) {
       	$('#_end_dateCheckModal').modal('show');
       	return;
	}

   	startDate = startDate.replace(/\s/g, "").replace("시", "").replace("분", "");
   	endDate = endDate.replace(/\s/g, "").replace("시", "").replace("분", "");

	if (parseInt(endDate, 10) <= parseInt(startDate, 10)) {
       	$('#_start_end_dateCheckModal').modal('show', false);
       	return;
	}

	if (!($("#_display_platform_all").prop("checked") && $("#_display_platform_ios").prop("checked") && $("#_display_platform_android").prop("checked")))  {
		$("#displayPlatform").val("all");
	}
	if ($("#_display_platform_ios").prop("checked"))  {
		$("#displayPlatform").val("ios");
	}
	if ($("#_display_platform_android").prop("checked"))  {
		$("#displayPlatform").val("android");
	}

    var title = $('#title').val();
    title = title.replace(/^\s*/, "");

    var contentData = CKEDITOR.instances.content.getData();

    if (!title) {
        $('#titleCheckModal').modal('show');
        return;
    }
    if (!contentData) {
    	$('#contentCheckModal').modal('show');
    	return;
    }

    // 예약게시여부 선택
    if ($("#_reserv_y").prop("checked")) {
    	$("#reservYn").val("Y");
    }
    // 게시(노출)여부 선택
    if ($("#_display_n").prop("checked")) {
    	$("#displayYn").val("N");
    }
    // 예약 푸시발송 선택
    if ($("#_push_status_reserv").prop("checked")) {
    	$("#pushStatus").val("reserv");
    	$("#reservYn").val("Y");
    	$("#displayYn").val("N");
    }
    // 즉시 푸시발송 선택
    if ($("#_push_status_instant").prop("checked")) {
    	$("#pushStatus").val("instant");
    	$("#_display_n").prop("checked", false);
    	$("#reservYn").val("N");
    	$("#displayYn").val("Y");
    }
    if ($("#_title_bold_yn").prop("checked")) {
    	$("#titleBoldYn").val("Y");
    }
	if (!$("#displayYn").val()) {
		$("#displayYn").val("N");
	}

    $("#startDate").val(startDate);
    $("#endDate").val(endDate);

	if ("preview" === gubun) {
        putPreviewData();
        $('#previewModal').modal('show');
	}
	else {
        $('#writeModal').modal('show');
	}
}

/**
 * 게시글 등록
 */
function regPost() {
    disabledButton();
    $("form").submit();
}

/**
 * 미리보기(현재 미사용)
 */
function putPreviewData() {
	// var content = $("#content").val();
	var title = $("#title").val();
	$("#previewTitle").text(title);
	$("#previewContent").html(CKEDITOR.instances.content.getData().replace(/\n/g, ''));
	$("#_preview_regDate").text(new Date().yyyymmdd());
}

/**
 * [예] 버튼이 한번만 클릭되도록 비활성화
 */
function disabledButton() {
    $('#writeModal').find('button').each(function () {
        $(this).attr('disabled', true);
    });
}

/**
 * 서비스 노출 여부 체크
 */
function changeDisplayPlatform(el) {
	var $this = $(el);
	// alert($this.val());

	if ($this.val() == "all") {
		$("#_display_platform_ios").prop("checked", false);
		$("#_display_platform_android").prop("checked", false);
	}
	else if ($this.val() == "ios") {
		$("#_display_platform_all").prop("checked", false);
		$("#_display_platform_android").prop("checked", false);
	}
	else if ($this.val() == "android") {
		$("#_display_platform_all").prop("checked", false);
		$("#_display_platform_ios").prop("checked", false);
	}
}
/**
 * 예약 푸시발송 / 즉시 푸시발송 체크 시 예약 여부
 */
function changePushStatus(el) {
	var $this = $(el);
	// alert($this.val());

	if ($this.val() == "instant") {
		$("#_reserv_y").prop("checked", false);
		$("#_display_n").prop("checked", false);
	}
}
/**
 * 예약게시/미게시 체크시
 */
function changeDisplayYn(el) {
	var $this = $(el);

	if ($this.val() == "Y") {
		$("#_push_status_reserv").prop("checked", true);
		$("#_push_status_instant").prop("checked", false);
		$("#_display_n").prop("checked", false);
	}
	else {
		$("#_push_status_instant").prop("checked", false);
		$("#_reserv_y").prop("checked", false);
	}
}

/**
 * 파일 업로드
 */
function uploadFile(el) {
	var $badge = $(".badge");
	var uploadedFileCount = parseInt($badge.text(), 10);

	if (uploadedFileCount >= 1) {
		alert(" 썸네일 이미지 첨부는 1개까지 가능합니다! ");
		return;
	}

	var $this = $(el);

    var ext = $this.val().split('.').pop().toLowerCase();
    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
		alert(" 썸네일 이미지는 'gif', 'png', 'jpg', 'jpeg' 파일만 업로드할 수 있습니다! ");
		return;
    }

	$("#file_route1").val($this.val());

	var browserVersion = getBrowserVersion();
	// alert(getBrowserVersion());

	var $progress = $(".progress");
	var $progressBar = $(".progress-bar");

	// $progress.show();

    // ajaxSubmit Option
    var options = {
        beforeSubmit : function() {
            var percentVal = "0%";
            $progressBar.css("width", percentVal);
            $progressBar.text(percentVal);

            $("#_ul_uploaded_files_area").show();
        }
	    , uploadProgress: function(event, position, total, percentComplete) {
	    	if (browserVersion > 9) {
		        var percentVal = percentComplete + '%';
	            $progressBar.css("width", percentVal);
	            $progressBar.text(percentVal);
	    	}
	    }
        , success : function(fileInfoJson, statusText, xhr, $form) {
        	if ("success" != statusText) {
        		alert(" 썸네일 이미지 업로드에 실패하였습니다! ");
        		return;
        	}

			var fileSize = fileInfoJson.size;
			var fileSizeCheck = fileSize / 1024;

			if (fileSizeCheck > 2) {
				alert(" 2MB 이하의 파일만 업로드 가능합니다. ");
				return;
			}

        	var filePath = fileInfoJson.filePath;
			var fileName = fileInfoJson.fileName;
			var fileOriginName = fileInfoJson.fileOriginName;
			var fileExt = fileInfoJson.ext;

        	uploadedFileCount++;

        	var tempHtml = $("#_ul_uploaded_files_area").html();
			tempHtml += "<li style=\"padding-top:5px;\">";
			/**
			tempHtml += "<span id=\"_span_file_name" + uploadedFileCount "\">" + fileName + "</span>";
			tempHtml += "<span id=\"_span_file_size" + uploadedFileCount + "\">(사이즈)</span>";
			*/
			tempHtml += "<span>" + fileOriginName + "</span> ";
			tempHtml += "<span>(" + numberWithCommas(fileSize) + "KB)</span> &nbsp; ";
			tempHtml += "<button type=\"button\" class=\"btn btn-xs btn-danger\" onclick=\"deleteUploadedTempFile(this);\">삭제</button>";
			tempHtml += "<input type=\"hidden\" id=\"uploadedFile" + uploadedFileCount + "\" name=\"uploadedFiles[" + (uploadedFileCount-1) + "]\" value=\"" + filePath + "/" + fileName + "\" />";
			tempHtml += "</li>";

        	$("#_ul_uploaded_files_area").html(tempHtml);

        	$badge.text(uploadedFileCount);
        }
        , error : function(e) {
        	// alert(e);
        }
        , complete : function(xhr) {
        	// alert(xhr.responseText);
        	$progress.hide();
        }
        , dataType : "json" // 응답타입 json이 아니라 text(IE9에서 JSON 데이타를 다운로드함)
        , url : "/v2/board/common/file/temp/upload"
        // , target : ""
        // , resetForm : false
    };

	var orgAction = $("form").attr("action");
    $("form").ajaxSubmit(options);
	$("form").attr("action", orgAction);
	$("#file_route1").clearFields();
}
/**
 * 임시 업로드 파일 삭제(화면상에서)
 */
function deleteUploadedTempFile(el) {
	var $this = $(el);
	var $parentNode = $this.parent();

	$parentNode.remove();

	var $badge = $(".badge");
	var uploadedFileCount = parseInt($badge.text(), 10);
	uploadedFileCount--;

	$badge.text(uploadedFileCount);

	if (uploadedFileCount == 0) {
        $("#_ul_uploaded_files_area").hide();
	}
}

$(document).ready(function() {
	$(".progress").hide();
});

$(function () {
    $('#datetimepickerFrom, #datetimepickerTo').datetimepicker({
        locale: 'ko',
        format: 'YYYY.MM.DD HH시 mm분'
    });

    $('#titleColor').colorpicker();
});

/*]]>*/
</script>
</div>

</body>
</html>
